@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.banner.home-banner {
  background: #fff;
}
.banner.home-banner::before {
  display: none;
}
.banner.home-banner .bg {
  margin-top: 140px;
  position: relative;
  background-color: #FFE8DD;
  height: 80vh;
}
@media only screen and (max-width: 991px) {
  .banner.home-banner .bg {
    height: 50vh;
  }
}
@media only screen and (max-width: 540px) {
  .banner.home-banner .bg {
    height: 50vh;
  }
}
.banner.home-banner .bg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 17.86%, rgba(0, 0, 0, 0.75) 83.52%);
}
.banner.home-banner .banner-wrapper {
  left: 50%;
  top: 86%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 768px) {
  .banner.home-banner .banner-wrapper {
    width: 400px;
  }
}
@media only screen and (max-width: 540px) {
  .banner.home-banner .banner-wrapper {
    width: 300px;
  }
}
.banner.home-banner .banner-wrapper .container .content h1 {
  font-size: 80px;
  font-family: Poppins;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  margin-bottom: 10px;
}
@media only screen and (max-width: 1024px) {
  .banner.home-banner .banner-wrapper .container .content h1 {
    font-size: 70px;
  }
}
@media only screen and (max-width: 991px) {
  .banner.home-banner .banner-wrapper .container .content h1 {
    font-size: 65px;
  }
}
@media only screen and (max-width: 768px) {
  .banner.home-banner .banner-wrapper .container .content h1 {
    font-size: 50px;
  }
}
@media only screen and (max-width: 540px) {
  .banner.home-banner .banner-wrapper .container .content h1 {
    font-size: 33px;
    line-height: 1.1;
  }
}
.banner.home-banner .banner-wrapper .container .content p {
  color: var(--white);
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}
.banner.home-banner .pin-img {
  position: absolute;
  right: 0;
  z-index: 5;
  overflow: hidden;
}
@media only screen and (max-width: 540px) {
  .banner.home-banner .pin-img {
    width: 110px;
    top: 301.4px;
  }
}
.banner.home-banner .pin-img img {
  transform: rotate(0.8deg);
}
.banner .heading .swiper-nav {
  position: absolute;
  right: 0;
  top: 20%;
  display: flex;
  align-items: center;
  width: -moz-max-content;
  width: max-content;
}
.banner .heading .swiper-nav button {
  flex: 0 1 auto;
  width: 45px;
  height: 45px;
  border: 2px solid var(--primary);
  border-radius: 50%;
}
.banner .heading .swiper-nav button svg {
  vertical-align: middle;
}
.banner .heading .swiper-nav button svg path {
  fill: var(--primary);
  stroke-width: 5px;
}

.contact-secA {
  padding: 50px 0;
  position: relative;
  overflow: hidden;
}
@media only screen and (max-width: 540px) {
  .contact-secA {
    padding: 40px 0;
  }
}
.contact-secA .heading-img {
  width: 80px;
  margin: auto;
}
@media only screen and (max-width: 540px) {
  .contact-secA .heading-img {
    width: 50px;
  }
}
.contact-secA .heading-img img {
  animation: wiggle 2s ease-in-out infinite;
  transform-origin: center;
}
.contact-secA .heading {
  margin-top: 10px;
}
.contact-secA .heading h2 {
  color: var(--primary);
  margin-bottom: 10px;
}
.contact-secA .heading p {
  max-width: 70%;
  margin: auto;
}
.contact-secA .story-slider4-part {
  padding: 50px 0;
  position: relative;
  padding: 40px 0;
}
.contact-secA .story-slider4-part .swiper-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 104%;
  position: absolute;
  top: 50%;
  left: -2%;
  translate: 0% -50%;
  z-index: 2;
}
@media only screen and (max-width: 540px) {
  .contact-secA .story-slider4-part .swiper-nav {
    display: none;
  }
}
.contact-secA .story-slider4-part .swiper-nav button {
  width: 45px;
  height: 45px;
  background-color: var(--white);
  border-radius: 50%;
  box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.3490196078);
}
.contact-secA .story-slider4-part .swiper-nav button.swiper-prev:hover svg {
  translate: -5px 0;
}
.contact-secA .story-slider4-part .swiper-nav button.swiper-next:hover svg {
  translate: 5px 0;
}
.contact-secA .story-slider4-part .swiper-nav button svg {
  transition: 0.3s ease;
  vertical-align: middle;
}
.contact-secA .story-slider4-part .swiper-nav button svg path {
  fill: var(--black);
}
.contact-secA .story-slider4-part .story-slider4-slider .swiper-slide {
  height: 426px;
  text-align: center;
  background: #F3EFEF;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
.contact-secA .story-slider4-part .story-slider4-slider .swiper-slide:nth-child(3n+1) .upper-sec {
  background-color: #1DA9E1;
  height: 155px;
}
.contact-secA .story-slider4-part .story-slider4-slider .swiper-slide:nth-child(3n+2) .upper-sec {
  background-color: #1DA9E1;
  height: 155px;
}
.contact-secA .story-slider4-part .story-slider4-slider .swiper-slide:nth-child(3n) .upper-sec {
  background-color: #1DA9E1;
  height: 155px;
}
.contact-secA .story-slider4-part .story-slider4-slider .upper-sec .name p {
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--black);
  width: 100%;
}
.contact-secA .story-slider4-part .story-slider4-slider .upper-sec .name p:last-child {
  color: #666666;
}
.contact-secA .story-slider4-part .story-slider4-slider .image {
  width: 145px;
  height: 145px;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contact-secA .story-slider4-part .story-slider4-slider .image img {
  border-radius: 50%;
}
.contact-secA .story-slider4-part .story-slider4-slider .bottom-sec {
  margin-top: 90px;
}
.contact-secA .story-slider4-part .story-slider4-slider .bottom-sec .name {
  margin-bottom: 20px;
}
.contact-secA .story-slider4-part .story-slider4-slider .bottom-sec .name p {
  font-family: Poppins;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: var(--black);
  width: 100%;
  margin-bottom: 2px;
}
.contact-secA .story-slider4-part .story-slider4-slider .bottom-sec .name p:last-child {
  font-size: 16px;
  color: #666666;
}
.contact-secA .story-slider4-part .story-slider4-slider .bottom-sec .social-icon {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
.contact-secA .story-slider4-part .story-slider4-slider .bottom-sec a {
  color: #EA4A38;
  cursor: pointer;
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
}
.contact-secA .story-slider4-part .story-slider4-slider .bottom-sec a:hover {
  color: #f1311b;
}

.pin-line {
  position: relative;
  background-color: var(--white);
  height: 20px;
}
.pin-line::before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  top: 7px;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  border-bottom: 2px dashed var(--secondary);
}
.pin-line::after {
  content: "";
  position: absolute;
  right: 1px;
  top: 0px;
  transform: rotate(1deg);
  width: 215px;
  height: 76px;
  z-index: 1;
  background: url("../../images/home/Pin.svg") no-repeat;
  background-position: 100% 100%;
}
@media only screen and (max-width: 540px) {
  .pin-line::after {
    right: 1px;
    top: -32px;
    width: 110px;
    background-size: contain;
  }
}/*# sourceMappingURL=contact.css.map */