@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.banner.home-banner {
  background: #fff;
}
.banner.home-banner::before {
  display: none;
}
.banner.home-banner .bg {
  margin-top: var(--headerheight);
  position: relative;
  background-color: #FFE8DD;
  height: 80vh;
}
@media only screen and (max-width: 1024px) {
  .banner.home-banner .bg {
    height: 60vh;
  }
}
@media only screen and (max-width: 991px) {
  .banner.home-banner .bg {
    height: 40vh;
  }
}
@media only screen and (max-width: 540px) {
  .banner.home-banner .bg {
    height: 50vh;
  }
}
.banner.home-banner .bg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 17.86%, rgba(0, 0, 0, 0.75) 83.52%);
}
.banner.home-banner .banner-wrapper {
  left: 50%;
  top: 86%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 1024px) {
  .banner.home-banner .banner-wrapper {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .banner.home-banner .banner-wrapper {
    width: 100%;
  }
}
@media only screen and (max-width: 540px) {
  .banner.home-banner .banner-wrapper {
    width: 100%;
  }
}
.banner.home-banner .banner-wrapper .container .content h1 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  margin-bottom: 10px;
}
@media only screen and (max-width: 991px) {
  .banner.home-banner .banner-wrapper .container .content h1 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 768px) {
  .banner.home-banner .banner-wrapper .container .content h1 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 540px) {
  .banner.home-banner .banner-wrapper .container .content h1 {
    font-size: 30px;
    line-height: 1.1;
  }
}
.banner.home-banner .banner-wrapper .container .content p {
  color: var(--white);
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}
@media only screen and (max-width: 991px) {
  .banner.home-banner .banner-wrapper .container .content p {
    font-size: 18px;
  }
}
@media only screen and (max-width: 540px) {
  .banner.home-banner .banner-wrapper .container .content p {
    font-size: 16px;
    line-height: 1.3;
  }
}
.banner.home-banner .pin-img {
  position: absolute;
  right: 0;
  z-index: 5;
  overflow: hidden;
}
@media only screen and (max-width: 540px) {
  .banner.home-banner .pin-img {
    width: 110px;
    top: 301.4px;
  }
}
.banner.home-banner .pin-img img {
  transform: rotate(0.8deg);
}
.banner .heading .swiper-nav {
  position: absolute;
  right: 0;
  top: 20%;
  display: flex;
  align-items: center;
  width: -moz-max-content;
  width: max-content;
}
.banner .heading .swiper-nav button {
  flex: 0 1 auto;
  width: 45px;
  height: 45px;
  border: 2px solid var(--primary);
  border-radius: 50%;
}
.banner .heading .swiper-nav button svg {
  vertical-align: middle;
}
.banner .heading .swiper-nav button svg path {
  fill: var(--primary);
  stroke-width: 5px;
}

.contact-secA {
  padding: 50px 0;
  position: relative;
  overflow: hidden;
}
@media only screen and (max-width: 540px) {
  .contact-secA {
    padding: 40px 0;
  }
}
.contact-secA .heading {
  margin-top: 10px;
}
.contact-secA .heading h2 {
  color: var(--primary);
  margin-bottom: 10px;
}
.contact-secA .heading p {
  max-width: 70%;
  margin: auto;
}
.contact-secA .flex-box {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  padding: 50px 0;
}
@media only screen and (max-width: 768px) {
  .contact-secA .flex-box {
    padding: 50px 0 0 0;
  }
}
@media only screen and (max-width: 540px) {
  .contact-secA .flex-box {
    display: block;
  }
}
.contact-secA .flex-box .flex-item {
  width: 40%;
}
.contact-secA .flex-box .flex-item:first-child {
  width: 466px;
}
@media only screen and (max-width: 540px) {
  .contact-secA .flex-box .flex-item:first-child {
    width: 100%;
    max-width: 60%;
    margin: auto;
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 1024px) {
  .contact-secA .flex-box .flex-item:last-child {
    width: 60%;
  }
}
@media only screen and (max-width: 991px) {
  .contact-secA .flex-box .flex-item:last-child {
    width: 100%;
  }
}
@media only screen and (max-width: 540px) {
  .contact-secA .flex-box .flex-item:last-child {
    width: 100%;
  }
}
.contact-secA .flex-box .flex-item:last-child h5 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  color: var(--black);
  margin-bottom: 30px;
}
@media only screen and (max-width: 540px) {
  .contact-secA .flex-box .flex-item:last-child h5 {
    text-align: center;
  }
}
.contact-secA .flex-box .flex-item:last-child .flex-box {
  display: flex;
  justify-content: start;
  gap: 30px;
  padding: 0;
  margin-bottom: 25px;
}
.contact-secA .flex-box .flex-item:last-child .flex-box img {
  width: 30px;
  height: 38px;
  -o-object-fit: contain;
     object-fit: contain;
}
.contact-secA .flex-box .flex-item:last-child .flex-box .info p:first-child {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--primary);
  margin-bottom: 6px;
}
.contact-secA .flex-box .flex-item:last-child .flex-box .info p {
  margin-bottom: 15px;
}
@media only screen and (max-width: 768px) {
  .contact-secA .flex-box .flex-item:last-child .flex-box .info p {
    font-size: 14px;
  }
}
.contact-secA .flex-box .flex-item:last-child .flex-box .info a {
  color: var(--secondary);
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
}
.contact-secA .flex-box .flex-item:last-child .flex-box .info a:hover span {
  padding-left: 10px;
}
.contact-secA .flex-box .flex-item:last-child .flex-box .info a span {
  transition: 0.5s ease;
}
.contact-secA .flex-box .flex-item:last-child .flex-box .info a span img {
  height: auto;
}
.contact-secA .flex-box .flex-item:last-child .flex-box:nth-child(4) {
  align-items: center;
  margin-bottom: 15px;
}
.contact-secA .flex-box .flex-item:last-child .flex-box:nth-child(4) img {
  width: 25px;
  aspect-ratio: 1;
  -o-object-fit: contain;
     object-fit: contain;
}
.contact-secA .flex-box .flex-item:last-child .flex-box:nth-child(4) a {
  color: var(--text);
}
.contact-secA .flex-box .flex-item:last-child .flex-box:nth-child(4) a:hover {
  color: var(--secondary);
}
.contact-secA .flex-box .flex-item:last-child .flex-box:nth-child(5) {
  align-items: center;
  margin-bottom: 5px;
}
.contact-secA .flex-box .flex-item:last-child .flex-box:nth-child(5) img {
  width: 28px;
  aspect-ratio: 1;
  -o-object-fit: contain;
     object-fit: contain;
}
.contact-secA .flex-box .flex-item:last-child .flex-box:nth-child(5) a {
  color: var(--text);
}
.contact-secA .flex-box .flex-item:last-child .flex-box:nth-child(5) a:hover {
  color: var(--secondary);
}

.contact-secB {
  padding: 50px 0;
  position: relative;
  overflow: hidden;
  background: #F6ECE2;
}
@media only screen and (max-width: 540px) {
  .contact-secB {
    padding: 40px 0;
  }
}
.contact-secB .heading {
  max-width: 40%;
  margin: auto;
}
@media only screen and (max-width: 1024px) {
  .contact-secB .heading {
    max-width: 60%;
  }
}
@media only screen and (max-width: 991px) {
  .contact-secB .heading {
    max-width: 80%;
  }
}
@media only screen and (max-width: 540px) {
  .contact-secB .heading {
    max-width: 100%;
  }
}
.contact-secB .heading h2 {
  color: var(--primary);
  margin-bottom: 10px;
}
.contact-secB .form-div {
  max-width: 60%;
  margin: auto;
  padding: 50px 0;
}
@media only screen and (max-width: 991px) {
  .contact-secB .form-div {
    max-width: 90%;
    padding: 50px 0 20px 0;
  }
}
@media only screen and (max-width: 540px) {
  .contact-secB .form-div {
    padding: 20px 0;
  }
}
.contact-secB .form-div .form-grid {
  --item: 2;
}
@media only screen and (max-width: 540px) {
  .contact-secB .form-div .form-grid {
    --item: 1;
  }
}
.contact-secB .form-div button {
  width: 105px;
  height: 44px;
  gap: 10px;
  border-radius: 25px;
  padding: 10px 23px;
  background: var(--secondary);
  color: var(--white);
  font-weight: 600;
  margin: auto;
}

.contact-secC {
  overflow: hidden;
  height: auto;
  margin-bottom: -6.9px;
  padding: 50px 0 100px 0;
}
@media only screen and (max-width: 540px) {
  .contact-secC {
    padding: 50px 0;
  }
}
.contact-secC .flex-box {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 540px) {
  .contact-secC .flex-box {
    display: block;
  }
}
.contact-secC .flex-box .flex-box-item {
  width: 48%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (max-width: 540px) {
  .contact-secC .flex-box .flex-box-item {
    width: 100%;
    margin-bottom: 30px;
  }
}
.contact-secC .flex-box .flex-box-item h5 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: black;
  margin-bottom: 30px;
}
@media only screen and (max-width: 1024px) {
  .contact-secC .flex-box .flex-box-item h5 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 991px) {
  .contact-secC .flex-box .flex-box-item h5 {
    font-size: 15px;
  }
}
@media only screen and (max-width: 540px) {
  .contact-secC .flex-box .flex-box-item h5 {
    margin-bottom: 10px;
  }
}
.contact-secC .flex-box .flex-box-item iframe {
  border: 1px solid var(--primary);
  border-radius: 10px;
  height: 434px;
}
@media only screen and (max-width: 540px) {
  .contact-secC .flex-box .flex-box-item iframe {
    height: 300px;
  }
}
.contact-secC iframe {
  width: 100%;
  margin-bottom: 0;
  height: 656px;
}
@media only screen and (max-width: 991px) {
  .contact-secC iframe {
    height: 50vh;
  }
}
@media only screen and (max-width: 540px) {
  .contact-secC iframe {
    height: 60vh;
  }
}

.pin-line {
  position: relative;
  background-color: var(--white);
  height: 20px;
}
.pin-line::before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  top: 7px;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  border-bottom: 2px dashed var(--secondary);
}
.pin-line::after {
  content: "";
  position: absolute;
  right: 1px;
  top: 0px;
  transform: rotate(1deg);
  width: 215px;
  height: 76px;
  z-index: 1;
  background: url("../../images/home/Pin.svg") no-repeat;
  background-position: 100% 100%;
}
@media only screen and (max-width: 540px) {
  .pin-line::after {
    right: 1px;
    top: -32px;
    width: 110px;
    background-size: contain;
  }
}/*# sourceMappingURL=contact.css.map */