@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.banner.home-banner {
  background: #fff;
}
.banner.home-banner::before {
  display: none;
}
.banner.home-banner .bg {
  margin-top: var(--headerheight);
  position: relative;
  background-color: #FFE8DD;
  height: 80vh;
}
@media only screen and (max-width: 991px) {
  .banner.home-banner .bg {
    height: 50vh;
  }
}
@media only screen and (max-width: 540px) {
  .banner.home-banner .bg {
    height: 60vh;
  }
}
.banner.home-banner .bg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 17.86%, rgba(0, 0, 0, 0.75) 83.52%);
}
.banner.home-banner .banner-wrapper {
  left: 50%;
  top: 86%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 1024px) {
  .banner.home-banner .banner-wrapper {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .banner.home-banner .banner-wrapper {
    width: 100%;
    top: 90%;
  }
}
@media only screen and (max-width: 540px) {
  .banner.home-banner .banner-wrapper {
    width: 100%;
  }
}
.banner.home-banner .banner-wrapper .container .content h1 {
  font-size: 80px;
  font-family: Poppins;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 20px;
}
@media only screen and (max-width: 1024px) {
  .banner.home-banner .banner-wrapper .container .content h1 {
    font-size: 50px;
  }
}
@media only screen and (max-width: 991px) {
  .banner.home-banner .banner-wrapper .container .content h1 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 768px) {
  .banner.home-banner .banner-wrapper .container .content h1 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 540px) {
  .banner.home-banner .banner-wrapper .container .content h1 {
    font-size: 26px;
    line-height: 1.1;
  }
}
.banner.home-banner .banner-wrapper .container .content h2 {
  margin-bottom: 20px;
}
@media only screen and (max-width: 1024px) {
  .banner.home-banner .banner-wrapper .container .content h2 {
    font-size: 25px;
  }
}
@media only screen and (max-width: 991px) {
  .banner.home-banner .banner-wrapper .container .content h2 {
    max-width: 70%;
    margin: auto;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 540px) {
  .banner.home-banner .banner-wrapper .container .content h2 {
    max-width: 80%;
    margin: auto;
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
  }
}
.banner.home-banner .pin-img {
  position: absolute;
  right: 0;
  z-index: 5;
  overflow: hidden;
}
@media only screen and (max-width: 540px) {
  .banner.home-banner .pin-img {
    width: 110px;
    top: 301.4px;
  }
}
.banner.home-banner .pin-img img {
  transform: rotate(0.8deg);
}
.banner .heading .swiper-nav {
  position: absolute;
  right: 0;
  top: 20%;
  display: flex;
  align-items: center;
  width: -moz-max-content;
  width: max-content;
}
.banner .heading .swiper-nav button {
  flex: 0 1 auto;
  width: 45px;
  height: 45px;
  border: 2px solid var(--primary);
  border-radius: 50%;
}
.banner .heading .swiper-nav button svg {
  vertical-align: middle;
}
.banner .heading .swiper-nav button svg path {
  fill: var(--primary);
  stroke-width: 5px;
}
.banner .heading .swiper-nav .home-category-fraction {
  flex: 1;
  padding: 0 10px;
  color: var(--primary);
  font-weight: 400;
  font-size: 16px;
}
.banner .category_slider_sec {
  padding: 50px 0;
}
.banner .category_slider_sec .item {
  text-align: center;
}
.banner .category_slider_sec .item p {
  font-size: 16px;
  font-weight: 400;
}

.csr-secA {
  background: #fff;
  overflow: hidden;
  padding: 50px 0;
}
.csr-secA .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
@media only screen and (max-width: 1024px) {
  .csr-secA .flex {
    align-items: flex-start;
  }
}
@media only screen and (max-width: 991px) {
  .csr-secA .flex {
    display: block;
  }
}
.csr-secA .flex .flex-item {
  width: 45%;
}
@media only screen and (max-width: 991px) {
  .csr-secA .flex .flex-item {
    width: 100%;
  }
}
.csr-secA .flex .flex-item:first-child {
  border-radius: 15px;
  overflow: hidden;
  height: 426px;
}
@media only screen and (max-width: 991px) {
  .csr-secA .flex .flex-item:first-child {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 540px) {
  .csr-secA .flex .flex-item:first-child {
    height: auto;
  }
}
.csr-secA .flex .flex-item:last-child .heading-img {
  width: 80px;
  margin: auto;
}
@media only screen and (max-width: 540px) {
  .csr-secA .flex .flex-item:last-child .heading-img {
    width: 50px;
  }
}
.csr-secA .flex .flex-item:last-child .heading-img img {
  animation: wiggle 2s ease-in-out infinite;
  transform-origin: center;
}
@media only screen and (max-width: 540px) {
  .csr-secA .flex .flex-item:last-child .heading {
    margin-top: 0;
  }
}
.csr-secA .flex .flex-item:last-child .heading h2 {
  color: var(--primary);
}
.csr-secA .flex .flex-item:last-child p {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  margin: 20px 0;
  color: var(--text);
}
@media only screen and (max-width: 991px) {
  .csr-secA .flex .flex-item:last-child p {
    text-align: center;
  }
}
@media only screen and (max-width: 540px) {
  .csr-secA .flex .flex-item:last-child p {
    font-size: 14px;
  }
}

.csr-secB {
  background: #F5EACF;
  position: relative;
  overflow: hidden;
}
.csr-secB .D-banner {
  position: relative;
}
.csr-secB .D-banner::before {
  background: none;
}
.csr-secB .D-banner .bg-process {
  height: 100vh;
  position: relative;
}
@media only screen and (max-width: 1024px) {
  .csr-secB .D-banner .bg-process {
    height: 60vh;
  }
}
@media only screen and (max-width: 991px) {
  .csr-secB .D-banner .bg-process {
    height: 80vh;
  }
}
@media only screen and (max-width: 540px) {
  .csr-secB .D-banner .bg-process {
    height: 75vh;
  }
}
.csr-secB .D-banner .banner-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  translate: none;
}
@media only screen and (max-width: 540px) {
  .csr-secB .D-banner .banner-wrapper .container {
    padding: 0;
  }
}
.csr-secB .D-banner .banner-wrapper .flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media only screen and (max-width: 991px) {
  .csr-secB .D-banner .banner-wrapper .flex {
    display: block;
  }
}
.csr-secB .D-banner .banner-wrapper .flex .flex-item:first-child {
  width: 333px;
  height: 367px;
  border-top-left-radius: 150px;
  border-top-right-radius: 18px;
  border: 1px solid var(--primary);
  overflow: hidden;
}
@media only screen and (max-width: 991px) {
  .csr-secB .D-banner .banner-wrapper .flex .flex-item:first-child {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 540px) {
  .csr-secB .D-banner .banner-wrapper .flex .flex-item:first-child {
    display: none;
  }
}
.csr-secB .D-banner .banner-wrapper .flex .flex-item:first-child video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.csr-secB .D-banner .banner-wrapper .flex .flex-item:last-child {
  width: 60%;
  font-size: normal;
}
@media only screen and (max-width: 991px) {
  .csr-secB .D-banner .banner-wrapper .flex .flex-item:last-child {
    width: 100%;
  }
}
.csr-secB .D-banner .banner-wrapper .flex .flex-item:last-child .heading h2 {
  font-family: Poppins;
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  color: #fff;
  text-align: left;
  color: var(--primary);
  padding: 0;
}
@media only screen and (max-width: 1024px) {
  .csr-secB .D-banner .banner-wrapper .flex .flex-item:last-child .heading h2 {
    font-size: 28px;
    line-height: 38px;
  }
}
.csr-secB .D-banner .banner-wrapper .flex .flex-item:last-child .heading h2 span {
  font-weight: 600;
}
@media only screen and (max-width: 991px) {
  .csr-secB .D-banner .banner-wrapper .flex .flex-item:last-child .heading h2 {
    text-align: center;
  }
}
@media only screen and (max-width: 540px) {
  .csr-secB .D-banner .banner-wrapper .flex .flex-item:last-child .heading h2 {
    font-size: 20px;
    line-height: 1.3;
  }
}
.csr-secB .D-banner .banner-wrapper .flex .flex-item:last-child .heading p {
  text-align: left;
  color: var(--primary);
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
@media only screen and (max-width: 991px) {
  .csr-secB .D-banner .banner-wrapper .flex .flex-item:last-child .heading p {
    text-align: center;
  }
}
@media only screen and (max-width: 540px) {
  .csr-secB .D-banner .banner-wrapper .flex .flex-item:last-child .heading p {
    line-height: 1.3;
  }
}
.csr-secB .D-banner .banner-wrapper .flex .flex-item:last-child .content {
  margin: 20px 0 40px 0;
  display: flex;
  align-items: center;
  gap: 60px;
}
@media only screen and (max-width: 991px) {
  .csr-secB .D-banner .banner-wrapper .flex .flex-item:last-child .content {
    justify-content: center;
    gap: 40px;
    margin: 20px 0;
  }
}
@media only screen and (max-width: 540px) {
  .csr-secB .D-banner .banner-wrapper .flex .flex-item:last-child .content {
    gap: 0;
    flex-wrap: wrap;
    margin: 40px 0 0px 0;
  }
}
.csr-secB .D-banner .banner-wrapper .flex .flex-item:last-child .content .process {
  width: 100px;
  height: 143px;
  border-radius: 50px;
}
@media only screen and (max-width: 540px) {
  .csr-secB .D-banner .banner-wrapper .flex .flex-item:last-child .content .process {
    width: 118px;
  }
}
.csr-secB .D-banner .banner-wrapper .flex .flex-item:last-child .content .process .img-border {
  border: 1px solid var(--primary);
  width: 90px;
  height: 90px;
  border-radius: 50px;
  position: relative;
  margin: auto;
}
@media only screen and (max-width: 991px) {
  .csr-secB .D-banner .banner-wrapper .flex .flex-item:last-child .content .process .img-border {
    width: 70px;
    height: 70px;
  }
}
.csr-secB .D-banner .banner-wrapper .flex .flex-item:last-child .content .process .img-border .main-img {
  width: 38px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.csr-secB .D-banner .banner-wrapper .flex .flex-item:last-child .content .process .img-border .bag-img {
  width: 40px;
}
.csr-secB .D-banner .banner-wrapper .flex .flex-item:last-child .content .process .img-border .line {
  position: absolute;
  top: 50%;
  right: -75px;
  transform: translate(-50%, -50%);
  width: 43px;
  border: 1px dashed #FFFFFF;
  display: none;
}
@media only screen and (max-width: 540px) {
  .csr-secB .D-banner .banner-wrapper .flex .flex-item:last-child .content .process .img-border .line {
    display: none;
  }
}
.csr-secB .D-banner .banner-wrapper .flex .flex-item:last-child .content .process .text {
  position: relative;
}
.csr-secB .D-banner .banner-wrapper .flex .flex-item:last-child .content .process .text p {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: var(--primary);
  margin-top: 15px;
}
@media only screen and (max-width: 991px) {
  .csr-secB .D-banner .banner-wrapper .flex .flex-item:last-child .content .process .text p {
    font-weight: normal;
    font-size: 12px;
  }
}
.csr-secB .D-banner .banner-wrapper .flex .flex-item:last-child .content .process .text .max-txt {
  position: absolute;
  width: 140px;
  left: -25px;
}
@media only screen and (max-width: 540px) {
  .csr-secB .D-banner .banner-wrapper .flex .flex-item:last-child .content .process .text .max-txt {
    left: -21px;
  }
}

.csr-secC {
  padding: 65px 0;
}
@media only screen and (max-width: 540px) {
  .csr-secC {
    padding: 35px 0px;
  }
}
.csr-secC .grid-box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 0;
  gap: 10px;
  max-width: 100%;
  margin: auto;
}
@media only screen and (max-width: 1024px) {
  .csr-secC .grid-box {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (max-width: 991px) {
  .csr-secC .grid-box {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 762px) {
  .csr-secC .grid-box {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 540px) {
  .csr-secC .grid-box {
    grid-template-columns: repeat(1, 1fr);
  }
}
.csr-secC .grid-box .item {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: 1px solid rgba(102, 102, 102, 0.4705882353);
  width: 100%;
  height: 150px;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px 40px;
}
@media only screen and (max-width: 540px) {
  .csr-secC .grid-box .item {
    padding: 20px 80px;
  }
}
.csr-secC .grid-box .item img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.csr-secC .content-grid {
  margin: 30px 0;
  display: grid;
  grid-template-columns: 1.2fr 2fr 0.7fr;
  gap: 40px;
  background-color: #FFF8F2;
  padding: 40px 10px 40px 40px;
  border-radius: 10px;
}
@media only screen and (max-width: 991px) {
  .csr-secC .content-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    padding: 20px 40px;
  }
}
@media only screen and (max-width: 540px) {
  .csr-secC .content-grid {
    padding: 10px;
  }
}
.csr-secC .content-grid .content-item:nth-child(1) figure {
  width: 381px;
  height: 325px;
  top: 45px;
  left: 36px;
  border-radius: 10px;
}
@media only screen and (max-width: 991px) {
  .csr-secC .content-grid .content-item:nth-child(1) figure {
    width: 100%;
    overflow: hidden;
  }
}
@media only screen and (max-width: 991px) and (max-width: 540px) {
  .csr-secC .content-grid .content-item:nth-child(1) figure {
    height: auto;
  }
}
@media only screen and (max-width: 991px) {
  .csr-secC .content-grid .content-item:nth-child(1) figure img {
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media only screen and (max-width: 540px) {
  .csr-secC .content-grid .content-item:nth-child(1) figure img {
    height: auto;
  }
}
@media only screen and (max-width: 991px) {
  .csr-secC .content-grid .content-item:nth-child(2) {
    text-align: center;
  }
}
.csr-secC .content-grid .content-item:nth-child(2) h3 {
  color: black;
  font-family: Poppins;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  margin: 0 0 30px 0;
}
@media only screen and (max-width: 1024px) {
  .csr-secC .content-grid .content-item:nth-child(2) h3 {
    font-size: 19px;
    line-height: 1.3;
    margin: 0 0 10px 0;
  }
}
@media only screen and (max-width: 540px) {
  .csr-secC .content-grid .content-item:nth-child(2) h3 {
    font-size: 16px;
  }
}
.csr-secC .content-grid .content-item:nth-child(2) p {
  color: var(--text);
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 20px 0;
}
@media only screen and (max-width: 1024px) {
  .csr-secC .content-grid .content-item:nth-child(2) p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 991px) {
  .csr-secC .content-grid .content-item:nth-child(2) p {
    margin: 0;
  }
}
@media only screen and (max-width: 540px) {
  .csr-secC .content-grid .content-item:nth-child(2) p {
    font-size: 14px;
    line-height: 1.5;
  }
}
@media only screen and (max-width: 991px) {
  .csr-secC .content-grid .content-item:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70%;
    margin: auto;
    gap: 30px;
  }
}
@media only screen and (max-width: 540px) {
  .csr-secC .content-grid .content-item:nth-child(3) {
    display: block;
  }
}
.csr-secC .content-grid .content-item:nth-child(3) figure {
  width: 140px;
  height: 97px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: 1px solid rgba(102, 102, 102, 0.4705882353);
  overflow: hidden;
  padding: 10px 10px;
  background: var(--white);
  margin-bottom: 10px;
}
.csr-secC .content-grid .content-item:nth-child(3) figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.pin-line {
  position: relative;
  background-color: var(--white);
  height: 20px;
}
.pin-line::before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  top: 7px;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  border-bottom: 2px dashed var(--secondary);
}
.pin-line::after {
  content: "";
  position: absolute;
  right: 1px;
  top: 0px;
  transform: rotate(1deg);
  width: 215px;
  height: 76px;
  z-index: 1;
  background: url("../../images/home/Pin.svg") no-repeat;
  background-position: 100% 100%;
}
@media only screen and (max-width: 540px) {
  .pin-line::after {
    right: 1px;
    top: -32px;
    width: 110px;
    background-size: contain;
  }
}/*# sourceMappingURL=csr.css.map */