@import '../_var'

.banner 
    &.home-banner 
        background: #fff
        &::before
            display: none
        .bg 
            position: relative
            background-color: #FFE8DD
            height: 100vh
            @include media(991)
                height: 50vh
            @include media(540)
                height: 70vh
            &::before
                content: ""
                position: absolute
                width: 100%
                height: 100%
                right: 0
                top: 0
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 17.86%, rgba(0, 0, 0, 0.75) 83.52%)
        .banner-wrapper
            left: 50%
            top: 90%
            transform: translate(-50%, -50%)
            @include media(1024)
                width: 80%
                top: 85%
            @include media(991)
                width: 100%
            @include media(540)
                width: 100%
                top: 90%
            .container
                .content
                    h1
                        font-size: 80px
                        font-family: Poppins
                        font-weight: 700
                        font-size: 48px
                        line-height: 48px
                        letter-spacing: 0%
                        text-align: center
                        margin-bottom: 20px
                        @include media(1024)
                            font-size: 50px
                        @include media(991)  
                            font-size: 38px
                            margin-bottom: 10px
                        @include media(768)
                            font-size: 38px
                        @include media(540)
                            font-size: 25px
                            line-height: 1.1
                    p
                        color: $white
                        font-family: Poppins
                        font-weight: 600
                        font-size: 16px
                        text-align: center
                        @include media(1024)
                            font-weight: 400
                        @include media(991)
                            font-weight: 300
                            max-width: 80%
                            margin: auto
                        @include media(540)
                            font-size: 12px
                            max-width: 90%
        .pin-img
            position: absolute
            right: 0
            z-index: 5
            overflow: hidden
            @include media(540)
                width: 110px
                top: 301.4px
            img
                transform: rotate(0.8deg)
    .heading
        .swiper-nav
            position: absolute
            right: 0
            top: 20%
            display: flex
            align-items: center
            width: max-content
            button
                flex: 0 1 auto
                width: 45px
                height: 45px
                border: 2px solid var(--primary)
                border-radius: 50%
                svg
                    vertical-align: middle
                    path 
                        fill: var(--primary)
                        stroke-width: 5px
            .home-category-fraction
                flex: 1
                padding: 0 10px
                color: var(--primary)
                font-weight: 400
                font-size: 16px
    .category_slider_sec
        padding: 50px 0
        .item
            text-align: center
            p
                font-size: 16px
                font-weight: 400

.story-secA
    background: #fff
    overflow: hidden
    padding: 50px 0
    @include media(540)
        padding: 30px 0
    .flex
        display: flex
        justify-content: space-between
        align-items: center
        gap: 50px
        @include media(1024)
            gap: 20px
        @include media(991)
        .flex-item
            width: 48%  
            @include media(991)
        .flex-item:first-child
            overflow: hidden
            @include media(991)
                width: 35%
                margin-top: 50px
                margin-bottom: 30px 
            @include media(540)
                width: 100%
                margin: 0
            img
                border-radius: 15px
                overflow: hidden
        .flex-item:last-child
            @include media(991)
                width: 60%
            @include media(540)
                width: 100%
            .heading-img
                width: 80px
                margin: auto
                @include media(540)
                    width: 50px
                img
                    animation: wiggle 2s ease-in-out infinite
                    transform-origin: center
            .heading
                @include media(540)
                    margin-top: 0
                h2
                    color: var(--primary)
                    @include media(991)
                        font-size: 30px
            p
                font-family: Poppins
                font-weight: 400
                font-size: 16px
                margin: 20px 0
                color: $text
                @include media(991)
                    font-size: 14px
                @include media(540)
                    font-size: 12px
                    text-align: center
                    margin: 10px 0
                

.story-secB
    background: #fff
    overflow: hidden
    .flex-box
        display: flex
        text-align: center
        @include media(540)
            display: block
        .flex-item
            padding: 100px 50px
            @include media(991)
                padding: 100px 0px
            @include media(540)
                padding: 50px 0px
            img
                width: 50px
                margin-bottom: 20px
            h2
                font-family: Poppins
                font-weight: 600
                font-size: 36px
                margin-bottom: 10px
                @include media(991)
                    font-size: 30px
            p
                font-family: Poppins
                font-weight: 600
                font-size: 16px
                color: $white
                width: 60%
                margin: auto
                @include media(1024)
                    width: 90%
                @include media(991)
                    font-weight: 500
                    font-size: 14px
                @include media(540)
                    font-weight: normal

        .flex-item:first-child
            background: #EA4A38
            width: 50%
            @include media(540)
                width: 100%
        .flex-item:last-child
            width: 50%
            background: #1DA9E1
            @include media(540)
                width: 100%


.story-secC
    background: #fff
    padding: 50px 0 0px 0
    overflow: hidden
    @include media(540)
        padding: 0
    .communities
        background: #F6ECE2
        margin: 50px 0 0px 0
        position: relative
        padding-top: 100px
        &::before
            content: ""
            position: absolute
            width: 100%
            height: 100%
            background: linear-gradient(360deg, #EEEEEE 0%, #FFEAE0 100%)
            z-index: -1
            top: 0
            left: 0
        .creativity-badge
            position: absolute
            top: -80px // pulls it up into the banner
            left: 50%
            transform: translateX(-50%)
            text-align: center
            z-index: 3
            overflow: hidden
            .bg
                width: 160px
                height: 160px
                border-radius: 50%
                background: #fff
                object-fit: cover
                background-clip: content-box, border-box
                .heading-img
                    width: 80px
                    margin: auto
                    position: relative
                    top: 50px
                    @include media(540)
                        width: 70px
                    img
                        animation: wiggle 2s ease-in-out infinite
                        transform-origin: center
        .container
            .heading
                max-width: 50%
                margin: auto
                text-align: center
                @include media(991)
                    max-width: 100% 
                @include media(540)
                    max-width: 100% 

                h2
                    font-weight: 600
                    font-size: 38px
                    line-height: 100%
                    @include media(991)
                        font-size: 28px
                    @include media(540)
                        font-size: 24px
                        line-height: 1.2
            .timeline
                padding: 4rem 2rem
                @include media(991)
                    padding: 2rem 1rem
                .timeline-container
                    position: relative
                    padding: 2rem 0
                    @include media(540)
                        padding: 1rem 0
                    .timeline-line
                        position: absolute
                        left: 50%
                        top: 0
                        bottom: 0
                        width: 2px
                        background-color: #EA4A38
                        transform: translateX(-50%)
                        @include media(991)
                            left: 0
                        @include media(540)
                            left: 0
                    .timeline-item
                        position: relative
                        max-width: 500px
                        padding: 20px 10px
                        box-sizing: border-box
                        border-radius: 10px
                        background-color: white
                        @include media(1024)
                            max-width: 370px
                        @include media(991)
                            max-width: 100%
                        @include media(540)
                            padding: 20px 20px
                        &.left
                            left: 0
                            text-align: left
                            @include media(991)
                                left: 20px  
                                margin-bottom: 20px
                            @include media(540)
                                left: 20px  
                                margin-bottom: 20px
                            .timeline-dot
                                border-radius: 50%
                                width: 25px
                                height: 25px
                                background: var(--white)
                                position: absolute
                                left: 595px         
                                top: 92px
                                border: 8px solid #EA4A38
                                @include media(1024)
                                    left: 442px
                                    top: 62px
                                @include media(991)
                                    left: -33px
                                @include media(540)
                                    top: 132px
                        &.right
                            left: 58%
                            text-align: left
                            @include media(991)
                                left: 20px  
                                margin-bottom: 20px
                            @include media(540)
                                left: 20px  
                                margin-bottom: 20px
                            .timeline-dot
                                border-radius: 50%
                                width: 25px
                                height: 25px
                                background: var(--white)
                                position: absolute
                                left: -110px
                                top: 92px
                                border: 8px solid #EA4A38
                                @include media(1024)
                                    left: -86px
                                    top: 60px
                                @include media(991)
                                    left: -33px
                                @include media(540)
                                    top: 132px
                        .box
                            display: flex
                            align-items: flex-start
                            gap: 20px
                            @include media(540)
                                display: block
                            .box-image 
                                margin: 0
                                flex-shrink: 0
                                img 
                                    width: 200px
                                    height: auto
                                    border-radius: 10px
                                    object-fit: cover
                                    @include media(1024)
                                        width: 130px
                            
                            .box-content 
                                flex: 1
                                h3
                                    font-family: Poppins
                                    font-weight: 600
                                    font-size: 20px
                                    line-height: 24px
                                    color: black
                                    margin-bottom: 10px
                                    @include media(540)
                                        font-size: 15px
                                        margin-bottom: 5px
                                p
                                    font-family: Poppins
                                    font-weight: 400
                                    font-size: 14px
                                    line-height: 18px
                                    color: $text
                                    @include media(540)
                                        font-size: 12px


.story-secD
    // border-bottom: 2px dashed var(--secondary)
    padding: 50px 0
    position: relative
    overflow: hidden
    @include media(540)
        padding: 40px 0
    .heading-img
        width: 80px
        margin: auto
        @include media(540)
            width: 50px
        img
            animation: wiggle 2s ease-in-out infinite
            transform-origin: center
    .heading
        margin-top: 10px
        h2
            color: var(--primary)
            @include media(991)
                font-size: 30px
            @include media(540)
                font-size: 25px
                max-width: 90%
                margin: auto    

    .review-slider-part
        padding: 50px 0 
        position: relative
        @include media(540)
            padding: 40px 0 0 0
        .swiper-nav
            display: flex
            align-items: center
            justify-content: space-between
            width: 104%
            position: absolute
            top: 50%
            left: -2%
            translate: 0% -50%
            z-index: 2
            @include media(540)
                display: none
            button
                width: 45px
                height: 45px
                background-color: $white
                border-radius: 50%
                box-shadow: 0px 5px 15px 0 #00000059
                &.swiper-prev
                    &:hover
                        svg
                            translate: -5px 0
                &.swiper-next
                    &:hover
                        svg
                            translate: 5px 0
                svg
                    transition: .3s ease
                    vertical-align: middle
                    path 
                        fill: $black
        .client-review-slider
            .swiper-slide
                height: 454px
                border-radius: 15px
                text-align: center
                background: #F3EFEF
                position: relative
                overflow: hidden
            .swiper-slide:nth-child(3n+1) .upper-sec 
                background-color: #1DA9E1
                height: 178px
            .swiper-slide:nth-child(3n+2) .upper-sec
                background-color: #A83B5C
                height: 178px
            .swiper-slide:nth-child(3n) .upper-sec
                background-color: #ED5F40
                height: 178px
            .upper-sec .name p
                position: absolute
                top: 13%
                left: 50%
                transform: translate(-50%, -50%)
                font-family: Poppins
                font-weight: 600
                font-size: 16px
                line-height: 24px
                color: $white
                width: 100%
            .image 
                width: 145px
                height: 145px
                position: absolute
                top: 38%
                left: 50%
                transform: translate(-50%, -50%)
                img
                    border-radius: 50%
            .icon
                width: 65px
                height: 65px
                position: absolute
                top: 35%
                left: 84%
                transform: translate(-50%, -50%)
            .middle-sec
                position: absolute
                top: 70%
                left: 50%
                transform: translate(-50%, -50%)
                width: 100%
                text-align: center
                .text p
                    color: $text
                    max-width: 80%
                    margin: auto
                    @include media(991)
                        font-size: 14px
            .bottom-sec
                position: absolute
                top: 90%
                left: 50%
                transform: translate(-50%, -50%)
                width: 100%
                text-align: center
                display: flex
                justify-content:    center
                align-items: center
                padding: 0 40px
                color: $text
                a
                    color: #EA4A38
                    cursor: pointer
                    font-family: Poppins
                    font-weight: 600
                    font-size: 16px
                    line-height: 24px

                    &:hover
                        color: #f1311b

.story-secE
    position: relative
    overflow: hidden
    .bg-video 
        top: 0 
        left: 0
        width: 100vw
        height: 55vh
        object-fit: cover
        z-index: -1
        @include media(991)
            height: 31vh
        @include media(540)
            height: 60vh
        video
            top: 0 
            left: 0
            width: 100vw
            height: 60vh
            object-fit: cover
            z-index: -1
    
        
    .main-container
        padding: 50px 0
        position: absolute
        top: 0
        left: 0
        background: #612f23eb
        @include media(540)
            width: 100%
        .heading
            margin-bottom: 40px
            @include media(991)
                margin-bottom: 0
            h2
                font-family: Poppins
                font-weight: 600
                font-size: 48px
                color: white
                @include media(991)
                    font-size: 36px
                @include media(540)
                    font-size: 30px
                    margin-bottom: 40px
        .content
            .content-grid
                display: grid
                grid-template-columns: repeat(5, 1fr)
                margin: 30px 80px 190px 80px
                @include media(991)
                    margin: 0
                @include media(540)
                    grid-template-columns: repeat(2, 1fr)
                    gap: 40px
                @include media(540)
                    .content-grid-item:last-child
                        grid-column: 1 / -1
                        justify-self: center
                        max-width: 70%
                .content-grid-item
                    display: flex
                    flex-direction: column
                    align-items: center
                    justify-content: center
                    text-align: center
                    padding: 40px
                    gap: 15px
                    @include media(540)
                        gap: 10px
                    &:not(:last-child)
                        .text p
                            max-width: 80%
                            margin: auto
                            @include media(540)
                                font-size: 12px
                    @include media(991)
                        padding: 40px 10px
                    @include media(540)
                        padding: 0
                    h3
                        font-family: Poppins
                        font-weight: 600
                        font-size: 30px
                        text-align: center
                        @include media(540)
                            font-size: 25px 

                    .text p
                        font-family: Poppins
                        font-weight: 500
                        font-size: 16px
                        line-height: 20px
                        color: $white
                        text-align: center   
                        
                        

                        @include media(991)
                            font-size: 14px
                            line-height: 1.3
                            font-weight: 400    
                        @include media(540)
                            font-size: 14px
                            line-height: 1.3
                            font-weight: 400
                        
.story-secF
    padding: 50px 0
    position: relative
    overflow: hidden
    @include media(540)
        padding: 40px 0
    .heading-img
        width: 80px
        margin: auto
        @include media(540)
            width: 50px
        img
            animation: wiggle 2s ease-in-out infinite
            transform-origin: center
    .heading
        margin-top: 10px
        h2
            color: var(--primary)
            margin-bottom: 10px
            @include media(991)
                font-size: 30px
        p
            max-width: 70%
            margin: auto
            @include media(991)
                font-size: 14px
                max-width: 75%
            @include media(540)
                max-width: 90%
                font-size: 12px
    .story-slider4-part
        padding: 50px 0 
        position: relative
        @include media(540)
        padding: 40px 0 0 0
        .swiper-nav
            display: flex
            align-items: center
            justify-content: space-between
            width: 104%
            position: absolute
            top: 50%
            left: -2%
            translate: 0% -50%
            z-index: 2
            @include media(540)
                display: none
            button
                width: 45px
                height: 45px
                background-color: $white
                border-radius: 50%
                box-shadow: 0px 5px 15px 0 #00000059
                &.swiper-prev
                    &:hover
                        svg
                            translate: -5px 0
                &.swiper-next
                    &:hover
                        svg
                            translate: 5px 0
                svg
                    transition: .3s ease
                    vertical-align: middle
                    path 
                        fill: $black
        .story-slider4-slider
            .swiper-slide
                height: 426px
                text-align: center
                background: #F3EFEF
                position: relative
                overflow: hidden
                border-radius: 5px
            .swiper-slide:nth-child(3n+1) .upper-sec 
                background-color: #1DA9E1
                height: 155px
            .swiper-slide:nth-child(3n+2) .upper-sec
                background-color: #1DA9E1
                height: 155px
            .swiper-slide:nth-child(3n) .upper-sec
                background-color: #1DA9E1
                height: 155px
            .upper-sec .name
                // position: absolute
                // top: 65%
                // left: 50%
                // transform: translate(-50%, -50%)
                // width: 100%
                p
                    font-family: Poppins
                    font-weight: 600
                    font-size: 16px
                    line-height: 24px
                    color: $black
                    width: 100%
                p:last-child
                    color: #666666
            .image 
                width: 145px
                height: 145px
                position: absolute
                top: 35%
                left: 50%
                transform: translate(-50%, -50%)
                img
                    border-radius: 50%
            .bottom-sec
                margin-top: 90px
                .name
                    margin-bottom: 20px
                    p
                        font-family: Poppins
                        font-weight: 600
                        font-size: 18px
                        line-height: 24px
                        color: $black
                        width: 100%
                        margin-bottom: 2px
                    p:last-child
                        font-size: 16px
                        color: #666666
                        @include media(540)
                            font-size: 14px
                .social-icon
                    margin-bottom: 15px
                    display: flex
                    justify-content: center
                    gap: 10px
                    align-items: center
                a
                    color: #EA4A38
                    cursor: pointer
                    font-family: Poppins
                    font-weight: 600
                    font-size: 16px
                    line-height: 1
                    &:hover
                        color: #f1311b

.story-secG
    padding: 50px 0
    position: relative
    overflow: hidden
    background: #F7EDEA
    @include media(540)
        padding: 40px 0
    .heading-img
        width: 80px
        margin: auto
        @include media(540)
            width: 50px
        img
            animation: wiggle 2s ease-in-out infinite
            transform-origin: center
    .heading
        margin-top: 10px
        h2
            color: var(--primary)
            margin-bottom: 10px
            @include media(991)
                font-size: 30px
        p
            max-width: 70%
            margin: auto
            @include media(991)
                font-size: 14px
            @include media(540)
                font-size: 12px 
                max-width: 90%
    .story-slider4-part
        padding: 50px 0 
        position: relative
        @include media(540)
            padding: 40px 0 0 0
        .swiper-nav
            display: flex
            align-items: center
            justify-content: space-between
            width: 104%
            position: absolute
            top: 50%
            left: -2%
            translate: 0% -50%
            z-index: 2
            @include media(540)
                display: none
            button
                width: 45px
                height: 45px
                background-color: $white
                border-radius: 50%
                box-shadow: 0px 5px 15px 0 #00000059
                &.swiper-prev
                    &:hover
                        svg
                            translate: -5px 0
                &.swiper-next
                    &:hover
                        svg
                            translate: 5px 0
                svg
                    transition: .3s ease
                    vertical-align: middle
                    path 
                        fill: $black
        .story-slider4-slider
            .swiper-slide
                height: 446px
                text-align: center
                background: #fff
                position: relative
                overflow: hidden
                border-radius: 5px
            .swiper-slide:nth-child(3n+1) .upper-sec 
                background-color: #C33A15
                height: 155px
            .swiper-slide:nth-child(3n+2) .upper-sec
                background-color: #C33A15
                height: 155px
            .swiper-slide:nth-child(3n) .upper-sec
                background-color: #C33A15
                height: 155px
            .upper-sec .name
                p
                    font-family: Poppins
                    font-weight: 600
                    font-size: 16px
                    line-height: 24px
                    color: $black
                    width: 100%
                p:last-child
                    color: #666666
            .image 
                width: 145px
                height: 145px
                position: absolute
                top: 33%
                left: 50%
                transform: translate(-50%, -50%)
                img
                    border-radius: 50%
            .bottom-sec
                max-width: 80%
                margin: auto
                padding-top: 90px
                .name
                    margin-bottom: 20px
                    p
                        font-family: Poppins
                        font-weight: 600
                        font-size: 18px
                        line-height: 24px
                        color: $black
                        width: 100%
                        margin-bottom: 5px
                    p:last-child
                        font-size: 16px
                        color: #666666
                        @include media(991)
                            font-size: 14px
                .social-icon
                    margin-bottom: 15px
                    display: flex
                    justify-content: center
                    gap: 10px
                    align-items: center
                a
                    color: #EA4A38
                    cursor: pointer
                    font-family: Poppins
                    font-weight: 600
                    font-size: 16px
                    line-height: 1
                    &:hover
                        color: #f1311b

.story-secH
    padding: 50px 0
    position: relative
    overflow: hidden
    @include media(540)
            padding: 40px 0 0 0
    .heading-img
        width: 80px
        margin: auto
        @include media(540)
            width: 50px
        img
            animation: wiggle 2s ease-in-out infinite
            transform-origin: center
    .heading
        margin-top: 10px
        h2
            color: var(--primary)
            margin-bottom: 10px
            @include media(991)
                font-size: 30px
        p
            max-width: 70%
            margin: auto
            @include media(991)
                font-size: 14px
            @include media(540)
                max-width: 90%
                font-size: 12px

    .story-slider4-part
        padding: 50px 0 
        position: relative
        @include media(540)
        padding: 40px 0
        .swiper-nav
            display: flex
            align-items: center
            justify-content: space-between
            width: 104%
            position: absolute
            top: 50%
            left: -2%
            translate: 0% -50%
            z-index: 2
            @include media(540)
                display: none
            button
                width: 45px
                height: 45px
                background-color: $white
                border-radius: 50%
                box-shadow: 0px 5px 15px 0 #00000059
                &.swiper-prev
                    &:hover
                        svg
                            translate: -5px 0
                &.swiper-next
                    &:hover
                        svg
                            translate: 5px 0
                svg
                    transition: .3s ease
                    vertical-align: middle
                    path 
                        fill: $black
        .story-slider4-slider
            .swiper-slide
                height: 476px
                text-align: center
                background: #F1F1F2
                position: relative
                overflow: hidden
                border-radius: 5px
            .swiper-slide:nth-child(3n+1) .upper-sec 
                background-color: #028034
                height: 155px
            .swiper-slide:nth-child(3n+2) .upper-sec
                background-color: #028034
                height: 155px
            .swiper-slide:nth-child(3n) .upper-sec
                background-color: #028034
                height: 155px
            .upper-sec .name
                p
                    font-family: Poppins
                    font-weight: 600
                    font-size: 16px
                    line-height: 24px
                    color: $black
                    width: 100%
                    margin-bottom: 90px
                p:last-child
                    color: #666666
            .image 
                width: 145px
                height: 145px
                position: absolute
                top: 31%
                left: 50%
                transform: translate(-50%, -50%)
                img
                    border-radius: 50%
            .bottom-sec
                max-width: 80%
                margin: auto
                padding-top: 90px
                .name
                    margin-bottom: 20px
                    p
                        font-family: Poppins
                        font-weight: 600
                        font-size: 18px
                        line-height: 24px
                        color: $black
                        width: 100%
                        margin-bottom: 5px
                    p:last-child
                        font-size: 16px
                        color: #666666
                        line-height: 1.3
                        @include media(540)
                            font-size: 14px
                            color: #666666
                            line-height: 1.4
                .social-icon
                    margin-bottom: 15px
                    display: flex
                    justify-content: center
                    gap: 10px
                    align-items: center
                a
                    color: #EA4A38
                    cursor: pointer
                    font-family: Poppins
                    font-weight: 600
                    font-size: 16px
                    line-height: 1
                    &:hover
                        color: #f1311b

.story-secI
    background: #CCF1FF
    overflow: hidden
    padding: 50px 0
    .heading-img
        width: 80px
        margin: auto
        @include media(540)
            width: 50px
        img
            animation: wiggle 2s ease-in-out infinite
            transform-origin: center
    .heading
        @include media(540)
            margin-top: 0
        h2
            color: var(--primary)
            @include media(991)
                font-size: 30px
                max-width: 80%
                margin: auto
            @include media(540)
                font-size: 20px
                max-width: 100%
                margin: 10px 0
    p
        font-family: Poppins
        font-weight: 400
        font-size: 16px
        margin: 20px 0
        color: $text
        @include media(991)
            font-size: 12px
        @include media(540)
            margin: 10px 0

    .flex
        display: flex
        justify-content: space-between
        align-items: center
        padding: 50px 0 0px 0
        @include media(540)
            display: block
            padding: 20px 0 0px 0
        .flex-item
            .figure
                width: 448px
                height: 316px
                @include media(991)
                    width: auto
                    height: auto
                img
                    border-radius: 10px

        .flex-item:first-child
            border-radius: 15px
            overflow: hidden
            width: 40% 
            @include media(991)
                margin-bottom: 30px 
            @include media(540)
                width: 100%
                margin-bottom: 20px
        .flex-item:last-child
            width: 60% 
            @include media(1024)
                width: 55%
            @include media(540)
                width: 100%
                text-align: center
            
    .story-slider4-part
        padding: 50px 0 
        position: relative
        @include media(1024)
            max-width: 96%
            margin: auto
        @include media(540)
        padding: 40px 0 0 0
        .swiper-nav
            @include media(540)
                display: none
            button
                width: 45px
                height: 45px
                background-color: $white
                border-radius: 50%
                box-shadow: 0px 5px 15px 0 #00000059
                &.swiper-prev
                    position: relative
                    top: 124px
                    z-index: 2
                    left: -22px
                    &:hover
                        svg
                            translate: -5px 0
                &.swiper-next
                    position: relative
                    z-index: 2
                    right: -94%
                    top: 120px
                    @include media(1024)
                        right: -92%
                    &:hover
                        svg
                            translate: 5px 0
                svg
                    transition: .3s ease
                    vertical-align: middle
                    path 
                        fill: $black
        .story-slider4-slider
            .swiper-slide
                .figure
                    height: 200px
                    overflow: hidden
                    border-radius: 5px
                    img
                        width: 100%
                        height: 100%
                        object-fit: cover
                        cursor: pointer

.story-secJ
    overflow: hidden
    padding: 50px 0
    @include media(540)
        padding: 30px 0
    .heading-img
        width: 80px
        margin: auto
        @include media(540)
            width: 50px
        img
            animation: wiggle 2s ease-in-out infinite
            transform-origin: center
    .heading
        @include media(540)
            margin-top: 0
        h2
            color: var(--primary)
    .tab-section
        .tab-nav
            display: flex
            justify-content: center
            align-items: center
            gap: 50px
            padding: 20px 0
            @include media(540)
                gap: 20px
                padding: 20px 0
            li
                position: relative
                @include media(540)
                    font-size: 14px
                &::before
                    content: ""
                    position: absolute
                    left: 0
                    bottom: 0
                    width: 0%
                    height: 2px
                    background-color: var(--secondary)
                    transition: 0.5s ease
            .active
                transition: 0.5s ease
                color: var(--secondary)
            li.active::before
                width: 100%
        .tab-nav-content
            .tabs
                opacity: 0
                transition: 0.5s ease-in-out
            .active
                opacity: 1
            .flex-box
                display: flex
                justify-content: center
                align-items: center
                padding: 20px 0 50px 0
                gap: 50px
                @include media(540)
                    display: block
                    padding: 10px 0 0 0
                .flex-box-item:first-child
                    @include media(540)
                        margin-bottom: 20px
                    .figure
                        width: 446px
                        height: 242px
                        border-radius: 10px
                        border: 1px solid #B5B5B5
                        display: flex
                        justify-content: center
                        align-items: center
                        padding: 30px
                        @include media(991)
                            width: auto
                            height: auto
                .flex-box-item:last-child
                    max-width: 40%
                    @include media(991)
                        max-width: none
                    p
                        color: #666666
                        margin-bottom: 20px
                        @include media(991)
                            font-size: 12px
                        @include media(540)
                            margin-bottom: 10px
                            text-align: center

.story-secK
    overflow: hidden
    padding: 50px 0
    .flex
        display: flex
        justify-content: center
        align-items: center
        gap: 70px
        @include media(1024)
            gap: 50px
        @include media(991)
            flex-wrap: nowrap
            gap: 30px
        @include media(540)
            display: block
            gap: 30px
        .flex-item
            width: 48%  
            @include media(991)
                width: 60%
        .flex-item:first-child
            width: 533px
            overflow: hidden
            @include media(1024)
                width: 45%
            @include media(991)
                margin-bottom: 30px 
            @include media(540)
                width: 100%
            
            img
                border-radius: 10px
        .flex-item:last-child
            @include media(540)
                width: 100%
            .heading
                @include media(540)
                    margin-top: 0
                h2
                    color: var(--primary)
                    text-align: left
                    @include media(991)
                        font-size: 28px
                    @include media(540)
                        text-align: center
                        font-size: 24px
                p
                    font-family: Poppins
                    font-weight: 500
                    font-size: 18px
                    line-height: 24px
                    color: #000000
                    text-align: left
                    margin-bottom: 10px
                    @include media(991)
                        font-size: 16px
                    @include media(540)
                        text-align: center
                        font-size: 14px
                        margin: 3px 0 10px 0
            .content
                p:first-child
                    font-family: Poppins
                    font-weight: 400
                    font-size: 12px
                    margin: 0px 0 20px 0
                    color: $text
                    @include media(540)
                        text-align: center
                        margin: 0px 0 10px 0
                p:last-child
                    color: $text
                    font-size: 12px
                    margin: 0px 0 30px 0
                    @include media(540)
                        text-align: center
            .secondary-btn 
                @include media(540)
                    width: 100%
                    display: flex
                    justify-content: center
                    align-items: center
                a
                    border-radius: 25px
                    padding: 8px 21px
                    color: white
                    background: #EA4A38
                    margin: 20px 0 0 0
                    @include media(540)
                        width: fit-content
                        margin: auto
                        text-align: center


.story-secL
    overflow: hidden
    padding: 50px 0
    .heading-img
        width: 80px
        margin: auto
        @include media(540)
            width: 50px
        img
            animation: wiggle 2s ease-in-out infinite
            transform-origin: center
    .heading
        @include media(540)
            margin-top: 0
        h2
            color: var(--primary)
            @include media(991)
                font-size: 30px
            @include media(540)
                font-size: 24px
                margin-top: 5px
    .story-slider4-part
        padding: 0 0 50px 0 
        position: relative
        @include media(1024)
            max-width: 95%
            margin: auto
        @include media(540)
            padding: 40px 0 0 0
        .swiper-nav
            @include media(540)
                display: none
            button
                width: 45px
                height: 45px
                background-color: $white
                border-radius: 50%
                box-shadow: 0px 5px 15px 0 #00000059
                &.swiper-prev
                    position: relative
                    top: 154px
                    z-index: 2
                    left: -22px
                    &:hover
                        svg
                            translate: -5px 0
                &.swiper-next
                    position: relative
                    z-index: 2
                    right: -94%
                    top: 154px
                    @include media(1024)
                        right: -92%
                    @include media(991)
                        right: -90%
                    &:hover
                        svg
                            translate: 5px 0
                svg
                    transition: .3s ease
                    vertical-align: middle
                    path 
                        fill: $black
        .story-slider4-slider
            .swiper-slide
                .figure
                    height: 262px
                    overflow: hidden
                    border-radius: 5px
                    img
                        width: 100%
                        height: 100%
                        object-fit: cover
                        cursor: pointer
   
.pin-line
    position: relative
    background-color: $white
    height: 20px
    &::before
        content: ''
        position: absolute
        z-index: 1
        left: 0
        top: 7px
        width: 100%
        height: fit-content
        border-bottom: 2px dashed var(--secondary)
    &::after
        content: ""
        position: absolute
        right: 1px
        top: 0px
        transform: rotate(1deg)
        width: 215px
        height: 76px
        z-index: 1
        background: url('../../images/home/Pin.svg') no-repeat
        // background: url('../../images/home/order-process-bg.jpg') no-repeat center

        background-position: 100% 100%
        @include media(540)
            right: 1px
            top: -32px
            width: 110px
            background-size: contain
