@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.banner.home-banner {
  background: #fff;
}
.banner.home-banner::before {
  display: none;
}
.banner.home-banner .bg {
  position: relative;
  background-color: #FFE8DD;
  height: 100vh;
}
@media only screen and (max-width: 991px) {
  .banner.home-banner .bg {
    height: 50vh;
  }
}
@media only screen and (max-width: 540px) {
  .banner.home-banner .bg {
    height: 70vh;
  }
}
.banner.home-banner .bg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 17.86%, rgba(0, 0, 0, 0.75) 83.52%);
}
.banner.home-banner .banner-wrapper {
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 1024px) {
  .banner.home-banner .banner-wrapper {
    width: 80%;
    top: 85%;
  }
}
@media only screen and (max-width: 991px) {
  .banner.home-banner .banner-wrapper {
    width: 100%;
  }
}
@media only screen and (max-width: 540px) {
  .banner.home-banner .banner-wrapper {
    width: 100%;
    top: 90%;
  }
}
.banner.home-banner .banner-wrapper .container .content h1 {
  font-size: 80px;
  font-family: Poppins;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 20px;
}
@media only screen and (max-width: 1024px) {
  .banner.home-banner .banner-wrapper .container .content h1 {
    font-size: 50px;
  }
}
@media only screen and (max-width: 991px) {
  .banner.home-banner .banner-wrapper .container .content h1 {
    font-size: 38px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 768px) {
  .banner.home-banner .banner-wrapper .container .content h1 {
    font-size: 38px;
  }
}
@media only screen and (max-width: 540px) {
  .banner.home-banner .banner-wrapper .container .content h1 {
    font-size: 25px;
    line-height: 1.1;
  }
}
.banner.home-banner .banner-wrapper .container .content p {
  color: var(--white);
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
}
@media only screen and (max-width: 1024px) {
  .banner.home-banner .banner-wrapper .container .content p {
    font-weight: 400;
  }
}
@media only screen and (max-width: 991px) {
  .banner.home-banner .banner-wrapper .container .content p {
    font-weight: 300;
    max-width: 80%;
    margin: auto;
  }
}
@media only screen and (max-width: 540px) {
  .banner.home-banner .banner-wrapper .container .content p {
    font-size: 12px;
    max-width: 90%;
  }
}
.banner.home-banner .pin-img {
  position: absolute;
  right: 0;
  z-index: 5;
  overflow: hidden;
}
@media only screen and (max-width: 540px) {
  .banner.home-banner .pin-img {
    width: 110px;
    top: 301.4px;
  }
}
.banner.home-banner .pin-img img {
  transform: rotate(0.8deg);
}
.banner .heading .swiper-nav {
  position: absolute;
  right: 0;
  top: 20%;
  display: flex;
  align-items: center;
  width: -moz-max-content;
  width: max-content;
}
.banner .heading .swiper-nav button {
  flex: 0 1 auto;
  width: 45px;
  height: 45px;
  border: 2px solid var(--primary);
  border-radius: 50%;
}
.banner .heading .swiper-nav button svg {
  vertical-align: middle;
}
.banner .heading .swiper-nav button svg path {
  fill: var(--primary);
  stroke-width: 5px;
}
.banner .heading .swiper-nav .home-category-fraction {
  flex: 1;
  padding: 0 10px;
  color: var(--primary);
  font-weight: 400;
  font-size: 16px;
}
.banner .category_slider_sec {
  padding: 50px 0;
}
.banner .category_slider_sec .item {
  text-align: center;
}
.banner .category_slider_sec .item p {
  font-size: 16px;
  font-weight: 400;
}

.story-secA {
  background: #fff;
  overflow: hidden;
  padding: 50px 0;
}
@media only screen and (max-width: 540px) {
  .story-secA {
    padding: 30px 0;
  }
}
.story-secA .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
@media only screen and (max-width: 1024px) {
  .story-secA .flex {
    gap: 20px;
  }
}
.story-secA .flex .flex-item {
  width: 48%;
}
.story-secA .flex .flex-item:first-child {
  overflow: hidden;
}
@media only screen and (max-width: 991px) {
  .story-secA .flex .flex-item:first-child {
    width: 35%;
    margin-top: 50px;
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 540px) {
  .story-secA .flex .flex-item:first-child {
    width: 100%;
    margin: 0;
  }
}
.story-secA .flex .flex-item:first-child img {
  border-radius: 15px;
  overflow: hidden;
}
@media only screen and (max-width: 991px) {
  .story-secA .flex .flex-item:last-child {
    width: 60%;
  }
}
@media only screen and (max-width: 540px) {
  .story-secA .flex .flex-item:last-child {
    width: 100%;
  }
}
.story-secA .flex .flex-item:last-child .heading-img {
  width: 80px;
  margin: auto;
}
@media only screen and (max-width: 540px) {
  .story-secA .flex .flex-item:last-child .heading-img {
    width: 50px;
  }
}
.story-secA .flex .flex-item:last-child .heading-img img {
  animation: wiggle 2s ease-in-out infinite;
  transform-origin: center;
}
@media only screen and (max-width: 540px) {
  .story-secA .flex .flex-item:last-child .heading {
    margin-top: 0;
  }
}
.story-secA .flex .flex-item:last-child .heading h2 {
  color: var(--primary);
}
@media only screen and (max-width: 991px) {
  .story-secA .flex .flex-item:last-child .heading h2 {
    font-size: 30px;
  }
}
.story-secA .flex .flex-item:last-child p {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  margin: 20px 0;
  color: var(--text);
}
@media only screen and (max-width: 991px) {
  .story-secA .flex .flex-item:last-child p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 540px) {
  .story-secA .flex .flex-item:last-child p {
    font-size: 12px;
    text-align: center;
    margin: 10px 0;
  }
}

.story-secB {
  background: #fff;
  overflow: hidden;
}
.story-secB .flex-box {
  display: flex;
  text-align: center;
}
@media only screen and (max-width: 540px) {
  .story-secB .flex-box {
    display: block;
  }
}
.story-secB .flex-box .flex-item {
  padding: 100px 50px;
}
@media only screen and (max-width: 991px) {
  .story-secB .flex-box .flex-item {
    padding: 100px 0px;
  }
}
@media only screen and (max-width: 540px) {
  .story-secB .flex-box .flex-item {
    padding: 50px 0px;
  }
}
.story-secB .flex-box .flex-item img {
  width: 50px;
  margin-bottom: 20px;
}
.story-secB .flex-box .flex-item h2 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 36px;
  margin-bottom: 10px;
}
@media only screen and (max-width: 991px) {
  .story-secB .flex-box .flex-item h2 {
    font-size: 30px;
  }
}
.story-secB .flex-box .flex-item p {
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  color: var(--white);
  width: 60%;
  margin: auto;
}
@media only screen and (max-width: 1024px) {
  .story-secB .flex-box .flex-item p {
    width: 90%;
  }
}
@media only screen and (max-width: 991px) {
  .story-secB .flex-box .flex-item p {
    font-weight: 500;
    font-size: 14px;
  }
}
@media only screen and (max-width: 540px) {
  .story-secB .flex-box .flex-item p {
    font-weight: normal;
  }
}
.story-secB .flex-box .flex-item:first-child {
  background: #EA4A38;
  width: 50%;
}
@media only screen and (max-width: 540px) {
  .story-secB .flex-box .flex-item:first-child {
    width: 100%;
  }
}
.story-secB .flex-box .flex-item:last-child {
  width: 50%;
  background: #1DA9E1;
}
@media only screen and (max-width: 540px) {
  .story-secB .flex-box .flex-item:last-child {
    width: 100%;
  }
}

.story-secC {
  background: #fff;
  padding: 50px 0 0px 0;
  overflow: hidden;
}
@media only screen and (max-width: 540px) {
  .story-secC {
    padding: 0;
  }
}
.story-secC .communities {
  background: #F6ECE2;
  margin: 50px 0 0px 0;
  position: relative;
  padding-top: 100px;
}
.story-secC .communities::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(360deg, #EEEEEE 0%, #FFEAE0 100%);
  z-index: -1;
  top: 0;
  left: 0;
}
.story-secC .communities .creativity-badge {
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 3;
  overflow: hidden;
}
.story-secC .communities .creativity-badge .bg {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: #fff;
  -o-object-fit: cover;
     object-fit: cover;
  background-clip: content-box, border-box;
}
.story-secC .communities .creativity-badge .bg .heading-img {
  width: 80px;
  margin: auto;
  position: relative;
  top: 50px;
}
@media only screen and (max-width: 540px) {
  .story-secC .communities .creativity-badge .bg .heading-img {
    width: 70px;
  }
}
.story-secC .communities .creativity-badge .bg .heading-img img {
  animation: wiggle 2s ease-in-out infinite;
  transform-origin: center;
}
.story-secC .communities .container .heading {
  max-width: 50%;
  margin: auto;
  text-align: center;
}
@media only screen and (max-width: 991px) {
  .story-secC .communities .container .heading {
    max-width: 100%;
  }
}
@media only screen and (max-width: 540px) {
  .story-secC .communities .container .heading {
    max-width: 100%;
  }
}
.story-secC .communities .container .heading h2 {
  font-weight: 600;
  font-size: 38px;
  line-height: 100%;
}
@media only screen and (max-width: 991px) {
  .story-secC .communities .container .heading h2 {
    font-size: 28px;
  }
}
@media only screen and (max-width: 540px) {
  .story-secC .communities .container .heading h2 {
    font-size: 24px;
    line-height: 1.2;
  }
}
.story-secC .communities .container .timeline {
  padding: 4rem 2rem;
}
@media only screen and (max-width: 991px) {
  .story-secC .communities .container .timeline {
    padding: 2rem 1rem;
  }
}
.story-secC .communities .container .timeline .timeline-container {
  position: relative;
  padding: 2rem 0;
}
@media only screen and (max-width: 540px) {
  .story-secC .communities .container .timeline .timeline-container {
    padding: 1rem 0;
  }
}
.story-secC .communities .container .timeline .timeline-container .timeline-line {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #EA4A38;
  transform: translateX(-50%);
}
@media only screen and (max-width: 991px) {
  .story-secC .communities .container .timeline .timeline-container .timeline-line {
    left: 0;
  }
}
@media only screen and (max-width: 540px) {
  .story-secC .communities .container .timeline .timeline-container .timeline-line {
    left: 0;
  }
}
.story-secC .communities .container .timeline .timeline-container .timeline-item {
  position: relative;
  max-width: 500px;
  padding: 20px 10px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: white;
}
@media only screen and (max-width: 1024px) {
  .story-secC .communities .container .timeline .timeline-container .timeline-item {
    max-width: 370px;
  }
}
@media only screen and (max-width: 991px) {
  .story-secC .communities .container .timeline .timeline-container .timeline-item {
    max-width: 100%;
  }
}
@media only screen and (max-width: 540px) {
  .story-secC .communities .container .timeline .timeline-container .timeline-item {
    padding: 20px 20px;
  }
}
.story-secC .communities .container .timeline .timeline-container .timeline-item.left {
  left: 0;
  text-align: left;
}
@media only screen and (max-width: 991px) {
  .story-secC .communities .container .timeline .timeline-container .timeline-item.left {
    left: 20px;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 540px) {
  .story-secC .communities .container .timeline .timeline-container .timeline-item.left {
    left: 20px;
    margin-bottom: 20px;
  }
}
.story-secC .communities .container .timeline .timeline-container .timeline-item.left .timeline-dot {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background: var(--white);
  position: absolute;
  left: 595px;
  top: 92px;
  border: 8px solid #EA4A38;
}
@media only screen and (max-width: 1024px) {
  .story-secC .communities .container .timeline .timeline-container .timeline-item.left .timeline-dot {
    left: 442px;
    top: 62px;
  }
}
@media only screen and (max-width: 991px) {
  .story-secC .communities .container .timeline .timeline-container .timeline-item.left .timeline-dot {
    left: -33px;
  }
}
@media only screen and (max-width: 540px) {
  .story-secC .communities .container .timeline .timeline-container .timeline-item.left .timeline-dot {
    top: 132px;
  }
}
.story-secC .communities .container .timeline .timeline-container .timeline-item.right {
  left: 58%;
  text-align: left;
}
@media only screen and (max-width: 991px) {
  .story-secC .communities .container .timeline .timeline-container .timeline-item.right {
    left: 20px;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 540px) {
  .story-secC .communities .container .timeline .timeline-container .timeline-item.right {
    left: 20px;
    margin-bottom: 20px;
  }
}
.story-secC .communities .container .timeline .timeline-container .timeline-item.right .timeline-dot {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background: var(--white);
  position: absolute;
  left: -110px;
  top: 92px;
  border: 8px solid #EA4A38;
}
@media only screen and (max-width: 1024px) {
  .story-secC .communities .container .timeline .timeline-container .timeline-item.right .timeline-dot {
    left: -86px;
    top: 60px;
  }
}
@media only screen and (max-width: 991px) {
  .story-secC .communities .container .timeline .timeline-container .timeline-item.right .timeline-dot {
    left: -33px;
  }
}
@media only screen and (max-width: 540px) {
  .story-secC .communities .container .timeline .timeline-container .timeline-item.right .timeline-dot {
    top: 132px;
  }
}
.story-secC .communities .container .timeline .timeline-container .timeline-item .box {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
@media only screen and (max-width: 540px) {
  .story-secC .communities .container .timeline .timeline-container .timeline-item .box {
    display: block;
  }
}
.story-secC .communities .container .timeline .timeline-container .timeline-item .box .box-image {
  margin: 0;
  flex-shrink: 0;
}
.story-secC .communities .container .timeline .timeline-container .timeline-item .box .box-image img {
  width: 200px;
  height: auto;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (max-width: 1024px) {
  .story-secC .communities .container .timeline .timeline-container .timeline-item .box .box-image img {
    width: 130px;
  }
}
.story-secC .communities .container .timeline .timeline-container .timeline-item .box .box-content {
  flex: 1;
}
.story-secC .communities .container .timeline .timeline-container .timeline-item .box .box-content h3 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: black;
  margin-bottom: 10px;
}
@media only screen and (max-width: 540px) {
  .story-secC .communities .container .timeline .timeline-container .timeline-item .box .box-content h3 {
    font-size: 15px;
    margin-bottom: 5px;
  }
}
.story-secC .communities .container .timeline .timeline-container .timeline-item .box .box-content p {
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--text);
}
@media only screen and (max-width: 540px) {
  .story-secC .communities .container .timeline .timeline-container .timeline-item .box .box-content p {
    font-size: 12px;
  }
}

.story-secD {
  padding: 50px 0;
  background: #f1f1f2;
  position: relative;
  overflow: hidden;
}
@media only screen and (max-width: 540px) {
  .story-secD {
    padding: 40px 0;
  }
}
.story-secD .heading-img {
  width: 80px;
  margin: auto;
}
@media only screen and (max-width: 540px) {
  .story-secD .heading-img {
    width: 50px;
  }
}
.story-secD .heading-img img {
  animation: wiggle 2s ease-in-out infinite;
  transform-origin: center;
}
.story-secD .heading {
  margin-top: 10px;
}
.story-secD .heading h2 {
  color: var(--primary);
}
@media only screen and (max-width: 991px) {
  .story-secD .heading h2 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 540px) {
  .story-secD .heading h2 {
    font-size: 25px;
    max-width: 90%;
    margin: auto;
  }
}
.story-secD .review-slider-part {
  padding: 50px 0;
  position: relative;
}
@media only screen and (max-width: 540px) {
  .story-secD .review-slider-part {
    padding: 40px 0 0 0;
  }
}
.story-secD .review-slider-part .swiper-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 104%;
  position: absolute;
  top: 50%;
  left: -2%;
  translate: 0% -50%;
  z-index: 2;
}
@media only screen and (max-width: 540px) {
  .story-secD .review-slider-part .swiper-nav {
    display: none;
  }
}
.story-secD .review-slider-part .swiper-nav button {
  width: 45px;
  height: 45px;
  background-color: var(--white);
  border-radius: 50%;
  box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.3490196078);
}
.story-secD .review-slider-part .swiper-nav button.swiper-prev:hover svg {
  translate: -5px 0;
}
.story-secD .review-slider-part .swiper-nav button.swiper-next:hover svg {
  translate: 5px 0;
}
.story-secD .review-slider-part .swiper-nav button svg {
  transition: 0.3s ease;
  vertical-align: middle;
}
.story-secD .review-slider-part .swiper-nav button svg path {
  fill: var(--black);
}
.story-secD .review-slider-part .client-review-slider .swiper-slide {
  height: 454px;
  border-radius: 15px;
  text-align: center;
  background: #F3EFEF;
  position: relative;
  overflow: hidden;
}
.story-secD .review-slider-part .client-review-slider .swiper-slide:nth-child(3n+1) .upper-sec {
  background-color: #1DA9E1;
  height: 178px;
}
.story-secD .review-slider-part .client-review-slider .swiper-slide:nth-child(3n+2) .upper-sec {
  background-color: #A83B5C;
  height: 178px;
}
.story-secD .review-slider-part .client-review-slider .swiper-slide:nth-child(3n) .upper-sec {
  background-color: #ED5F40;
  height: 178px;
}
.story-secD .review-slider-part .client-review-slider .upper-sec .name p {
  position: absolute;
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--white);
  width: 100%;
}
.story-secD .review-slider-part .client-review-slider .image {
  width: 145px;
  height: 145px;
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.story-secD .review-slider-part .client-review-slider .image img {
  border-radius: 50%;
}
.story-secD .review-slider-part .client-review-slider .icon {
  width: 65px;
  height: 65px;
  position: absolute;
  top: 35%;
  left: 84%;
  transform: translate(-50%, -50%);
}
.story-secD .review-slider-part .client-review-slider .middle-sec {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
.story-secD .review-slider-part .client-review-slider .middle-sec .text p {
  color: var(--text);
  max-width: 80%;
  margin: auto;
}
@media only screen and (max-width: 991px) {
  .story-secD .review-slider-part .client-review-slider .middle-sec .text p {
    font-size: 14px;
  }
}
.story-secD .review-slider-part .client-review-slider .bottom-sec {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  color: var(--text);
}
.story-secD .review-slider-part .client-review-slider .bottom-sec a {
  color: #EA4A38;
  cursor: pointer;
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.story-secD .review-slider-part .client-review-slider .bottom-sec a:hover {
  color: #f1311b;
}

.story-secE {
  position: relative;
  overflow: hidden;
}
.story-secE .bg-video {
  top: 0;
  left: 0;
  width: 100vw;
  height: 55vh;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
@media only screen and (max-width: 991px) {
  .story-secE .bg-video {
    height: 31vh;
  }
}
@media only screen and (max-width: 540px) {
  .story-secE .bg-video {
    height: 60vh;
  }
}
.story-secE .bg-video video {
  top: 0;
  left: 0;
  width: 100vw;
  height: 60vh;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.story-secE .main-container {
  padding: 50px 0;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(97, 47, 35, 0.9215686275);
}
@media only screen and (max-width: 540px) {
  .story-secE .main-container {
    width: 100%;
  }
}
.story-secE .main-container .heading {
  margin-bottom: 40px;
}
@media only screen and (max-width: 991px) {
  .story-secE .main-container .heading {
    margin-bottom: 0;
  }
}
.story-secE .main-container .heading h2 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 48px;
  color: white;
}
@media only screen and (max-width: 991px) {
  .story-secE .main-container .heading h2 {
    font-size: 36px;
  }
}
@media only screen and (max-width: 540px) {
  .story-secE .main-container .heading h2 {
    font-size: 30px;
    margin-bottom: 40px;
  }
}
.story-secE .main-container .content .content-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 30px 80px 190px 80px;
}
@media only screen and (max-width: 991px) {
  .story-secE .main-container .content .content-grid {
    margin: 0;
  }
}
@media only screen and (max-width: 540px) {
  .story-secE .main-container .content .content-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}
@media only screen and (max-width: 540px) {
  .story-secE .main-container .content .content-grid .content-grid-item:last-child {
    grid-column: 1/-1;
    justify-self: center;
    max-width: 70%;
  }
}
.story-secE .main-container .content .content-grid .content-grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px;
  gap: 15px;
}
@media only screen and (max-width: 540px) {
  .story-secE .main-container .content .content-grid .content-grid-item {
    gap: 10px;
  }
}
.story-secE .main-container .content .content-grid .content-grid-item:not(:last-child) .text p {
  max-width: 80%;
  margin: auto;
}
@media only screen and (max-width: 540px) {
  .story-secE .main-container .content .content-grid .content-grid-item:not(:last-child) .text p {
    font-size: 12px;
  }
}
@media only screen and (max-width: 991px) {
  .story-secE .main-container .content .content-grid .content-grid-item {
    padding: 40px 10px;
  }
}
@media only screen and (max-width: 540px) {
  .story-secE .main-container .content .content-grid .content-grid-item {
    padding: 0;
  }
}
.story-secE .main-container .content .content-grid .content-grid-item h3 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
}
@media only screen and (max-width: 540px) {
  .story-secE .main-container .content .content-grid .content-grid-item h3 {
    font-size: 25px;
  }
}
.story-secE .main-container .content .content-grid .content-grid-item .text p {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--white);
  text-align: center;
}
@media only screen and (max-width: 991px) {
  .story-secE .main-container .content .content-grid .content-grid-item .text p {
    font-size: 14px;
    line-height: 1.3;
    font-weight: 400;
  }
}
@media only screen and (max-width: 540px) {
  .story-secE .main-container .content .content-grid .content-grid-item .text p {
    font-size: 14px;
    line-height: 1.3;
    font-weight: 400;
  }
}

.story-secF {
  padding: 50px 0;
  position: relative;
  overflow: hidden;
}
@media only screen and (max-width: 540px) {
  .story-secF {
    padding: 40px 0;
  }
}
.story-secF .heading-img {
  width: 80px;
  margin: auto;
}
@media only screen and (max-width: 540px) {
  .story-secF .heading-img {
    width: 50px;
  }
}
.story-secF .heading-img img {
  animation: wiggle 2s ease-in-out infinite;
  transform-origin: center;
}
.story-secF .heading {
  margin-top: 10px;
}
.story-secF .heading h2 {
  color: var(--primary);
  margin-bottom: 10px;
}
@media only screen and (max-width: 991px) {
  .story-secF .heading h2 {
    font-size: 30px;
  }
}
.story-secF .heading p {
  max-width: 70%;
  margin: auto;
}
@media only screen and (max-width: 991px) {
  .story-secF .heading p {
    font-size: 14px;
    max-width: 75%;
  }
}
@media only screen and (max-width: 540px) {
  .story-secF .heading p {
    max-width: 90%;
    font-size: 12px;
  }
}
.story-secF .story-slider4-part {
  padding: 50px 0;
  position: relative;
  padding: 40px 0 0 0;
}
.story-secF .story-slider4-part .swiper-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 104%;
  position: absolute;
  top: 50%;
  left: -2%;
  translate: 0% -50%;
  z-index: 2;
}
@media only screen and (max-width: 540px) {
  .story-secF .story-slider4-part .swiper-nav {
    display: none;
  }
}
.story-secF .story-slider4-part .swiper-nav button {
  width: 45px;
  height: 45px;
  background-color: var(--white);
  border-radius: 50%;
  box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.3490196078);
}
.story-secF .story-slider4-part .swiper-nav button.swiper-prev:hover svg {
  translate: -5px 0;
}
.story-secF .story-slider4-part .swiper-nav button.swiper-next:hover svg {
  translate: 5px 0;
}
.story-secF .story-slider4-part .swiper-nav button svg {
  transition: 0.3s ease;
  vertical-align: middle;
}
.story-secF .story-slider4-part .swiper-nav button svg path {
  fill: var(--black);
}
.story-secF .story-slider4-part .story-slider4-slider .swiper-slide {
  height: 426px;
  text-align: center;
  background: #F3EFEF;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
.story-secF .story-slider4-part .story-slider4-slider .swiper-slide:nth-child(3n+1) .upper-sec {
  background-color: #1DA9E1;
  height: 155px;
}
.story-secF .story-slider4-part .story-slider4-slider .swiper-slide:nth-child(3n+2) .upper-sec {
  background-color: #1DA9E1;
  height: 155px;
}
.story-secF .story-slider4-part .story-slider4-slider .swiper-slide:nth-child(3n) .upper-sec {
  background-color: #1DA9E1;
  height: 155px;
}
.story-secF .story-slider4-part .story-slider4-slider .upper-sec .name p {
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--black);
  width: 100%;
}
.story-secF .story-slider4-part .story-slider4-slider .upper-sec .name p:last-child {
  color: #666666;
}
.story-secF .story-slider4-part .story-slider4-slider .image {
  width: 145px;
  height: 145px;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.story-secF .story-slider4-part .story-slider4-slider .image img {
  border-radius: 50%;
}
.story-secF .story-slider4-part .story-slider4-slider .bottom-sec {
  margin-top: 90px;
}
.story-secF .story-slider4-part .story-slider4-slider .bottom-sec .name {
  margin-bottom: 20px;
}
.story-secF .story-slider4-part .story-slider4-slider .bottom-sec .name p {
  font-family: Poppins;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: var(--black);
  width: 100%;
  margin-bottom: 2px;
}
.story-secF .story-slider4-part .story-slider4-slider .bottom-sec .name p:last-child {
  font-size: 16px;
  color: #666666;
}
@media only screen and (max-width: 540px) {
  .story-secF .story-slider4-part .story-slider4-slider .bottom-sec .name p:last-child {
    font-size: 14px;
  }
}
.story-secF .story-slider4-part .story-slider4-slider .bottom-sec .social-icon {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
.story-secF .story-slider4-part .story-slider4-slider .bottom-sec a {
  color: #EA4A38;
  cursor: pointer;
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
}
.story-secF .story-slider4-part .story-slider4-slider .bottom-sec a:hover {
  color: #f1311b;
}

.story-secG {
  padding: 50px 0;
  position: relative;
  overflow: hidden;
  background: #F7EDEA;
}
@media only screen and (max-width: 540px) {
  .story-secG {
    padding: 40px 0;
  }
}
.story-secG .heading-img {
  width: 80px;
  margin: auto;
}
@media only screen and (max-width: 540px) {
  .story-secG .heading-img {
    width: 50px;
  }
}
.story-secG .heading-img img {
  animation: wiggle 2s ease-in-out infinite;
  transform-origin: center;
}
.story-secG .heading {
  margin-top: 10px;
}
.story-secG .heading h2 {
  color: var(--primary);
  margin-bottom: 10px;
}
@media only screen and (max-width: 991px) {
  .story-secG .heading h2 {
    font-size: 30px;
  }
}
.story-secG .heading p {
  max-width: 70%;
  margin: auto;
}
@media only screen and (max-width: 991px) {
  .story-secG .heading p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 540px) {
  .story-secG .heading p {
    font-size: 12px;
    max-width: 90%;
  }
}
.story-secG .story-slider4-part {
  padding: 50px 0;
  position: relative;
}
@media only screen and (max-width: 540px) {
  .story-secG .story-slider4-part {
    padding: 40px 0 0 0;
  }
}
.story-secG .story-slider4-part .swiper-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 104%;
  position: absolute;
  top: 50%;
  left: -2%;
  translate: 0% -50%;
  z-index: 2;
}
@media only screen and (max-width: 540px) {
  .story-secG .story-slider4-part .swiper-nav {
    display: none;
  }
}
.story-secG .story-slider4-part .swiper-nav button {
  width: 45px;
  height: 45px;
  background-color: var(--white);
  border-radius: 50%;
  box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.3490196078);
}
.story-secG .story-slider4-part .swiper-nav button.swiper-prev:hover svg {
  translate: -5px 0;
}
.story-secG .story-slider4-part .swiper-nav button.swiper-next:hover svg {
  translate: 5px 0;
}
.story-secG .story-slider4-part .swiper-nav button svg {
  transition: 0.3s ease;
  vertical-align: middle;
}
.story-secG .story-slider4-part .swiper-nav button svg path {
  fill: var(--black);
}
.story-secG .story-slider4-part .story-slider4-slider .swiper-slide {
  height: 446px;
  text-align: center;
  background: #fff;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
.story-secG .story-slider4-part .story-slider4-slider .swiper-slide:nth-child(3n+1) .upper-sec {
  background-color: #C33A15;
  height: 155px;
}
.story-secG .story-slider4-part .story-slider4-slider .swiper-slide:nth-child(3n+2) .upper-sec {
  background-color: #C33A15;
  height: 155px;
}
.story-secG .story-slider4-part .story-slider4-slider .swiper-slide:nth-child(3n) .upper-sec {
  background-color: #C33A15;
  height: 155px;
}
.story-secG .story-slider4-part .story-slider4-slider .upper-sec .name p {
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--black);
  width: 100%;
}
.story-secG .story-slider4-part .story-slider4-slider .upper-sec .name p:last-child {
  color: #666666;
}
.story-secG .story-slider4-part .story-slider4-slider .image {
  width: 145px;
  height: 145px;
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.story-secG .story-slider4-part .story-slider4-slider .image img {
  border-radius: 50%;
}
.story-secG .story-slider4-part .story-slider4-slider .bottom-sec {
  max-width: 80%;
  margin: auto;
  padding-top: 90px;
}
.story-secG .story-slider4-part .story-slider4-slider .bottom-sec .name {
  margin-bottom: 20px;
}
.story-secG .story-slider4-part .story-slider4-slider .bottom-sec .name p {
  font-family: Poppins;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: var(--black);
  width: 100%;
  margin-bottom: 5px;
}
.story-secG .story-slider4-part .story-slider4-slider .bottom-sec .name p:last-child {
  font-size: 16px;
  color: #666666;
}
@media only screen and (max-width: 991px) {
  .story-secG .story-slider4-part .story-slider4-slider .bottom-sec .name p:last-child {
    font-size: 14px;
  }
}
.story-secG .story-slider4-part .story-slider4-slider .bottom-sec .social-icon {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
.story-secG .story-slider4-part .story-slider4-slider .bottom-sec a {
  color: #EA4A38;
  cursor: pointer;
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
}
.story-secG .story-slider4-part .story-slider4-slider .bottom-sec a:hover {
  color: #f1311b;
}

.story-secH {
  padding: 50px 0;
  position: relative;
  overflow: hidden;
}
@media only screen and (max-width: 540px) {
  .story-secH {
    padding: 40px 0 0 0;
  }
}
.story-secH .heading-img {
  width: 80px;
  margin: auto;
}
@media only screen and (max-width: 540px) {
  .story-secH .heading-img {
    width: 50px;
  }
}
.story-secH .heading-img img {
  animation: wiggle 2s ease-in-out infinite;
  transform-origin: center;
}
.story-secH .heading {
  margin-top: 10px;
}
.story-secH .heading h2 {
  color: var(--primary);
  margin-bottom: 10px;
}
@media only screen and (max-width: 991px) {
  .story-secH .heading h2 {
    font-size: 30px;
  }
}
.story-secH .heading p {
  max-width: 70%;
  margin: auto;
}
@media only screen and (max-width: 991px) {
  .story-secH .heading p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 540px) {
  .story-secH .heading p {
    max-width: 90%;
    font-size: 12px;
  }
}
.story-secH .story-slider4-part {
  padding: 50px 0;
  position: relative;
  padding: 40px 0;
}
.story-secH .story-slider4-part .swiper-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 104%;
  position: absolute;
  top: 50%;
  left: -2%;
  translate: 0% -50%;
  z-index: 2;
}
@media only screen and (max-width: 540px) {
  .story-secH .story-slider4-part .swiper-nav {
    display: none;
  }
}
.story-secH .story-slider4-part .swiper-nav button {
  width: 45px;
  height: 45px;
  background-color: var(--white);
  border-radius: 50%;
  box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.3490196078);
}
.story-secH .story-slider4-part .swiper-nav button.swiper-prev:hover svg {
  translate: -5px 0;
}
.story-secH .story-slider4-part .swiper-nav button.swiper-next:hover svg {
  translate: 5px 0;
}
.story-secH .story-slider4-part .swiper-nav button svg {
  transition: 0.3s ease;
  vertical-align: middle;
}
.story-secH .story-slider4-part .swiper-nav button svg path {
  fill: var(--black);
}
.story-secH .story-slider4-part .story-slider4-slider .swiper-slide {
  height: 476px;
  text-align: center;
  background: #F1F1F2;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
.story-secH .story-slider4-part .story-slider4-slider .swiper-slide:nth-child(3n+1) .upper-sec {
  background-color: #028034;
  height: 155px;
}
.story-secH .story-slider4-part .story-slider4-slider .swiper-slide:nth-child(3n+2) .upper-sec {
  background-color: #028034;
  height: 155px;
}
.story-secH .story-slider4-part .story-slider4-slider .swiper-slide:nth-child(3n) .upper-sec {
  background-color: #028034;
  height: 155px;
}
.story-secH .story-slider4-part .story-slider4-slider .upper-sec .name p {
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--black);
  width: 100%;
  margin-bottom: 90px;
}
.story-secH .story-slider4-part .story-slider4-slider .upper-sec .name p:last-child {
  color: #666666;
}
.story-secH .story-slider4-part .story-slider4-slider .image {
  width: 145px;
  height: 145px;
  position: absolute;
  top: 31%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.story-secH .story-slider4-part .story-slider4-slider .image img {
  border-radius: 50%;
}
.story-secH .story-slider4-part .story-slider4-slider .bottom-sec {
  max-width: 80%;
  margin: auto;
  padding-top: 90px;
}
.story-secH .story-slider4-part .story-slider4-slider .bottom-sec .name {
  margin-bottom: 20px;
}
.story-secH .story-slider4-part .story-slider4-slider .bottom-sec .name p {
  font-family: Poppins;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: var(--black);
  width: 100%;
  margin-bottom: 5px;
}
.story-secH .story-slider4-part .story-slider4-slider .bottom-sec .name p:last-child {
  font-size: 16px;
  color: #666666;
  line-height: 1.3;
}
@media only screen and (max-width: 540px) {
  .story-secH .story-slider4-part .story-slider4-slider .bottom-sec .name p:last-child {
    font-size: 14px;
    color: #666666;
    line-height: 1.4;
  }
}
.story-secH .story-slider4-part .story-slider4-slider .bottom-sec .social-icon {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
.story-secH .story-slider4-part .story-slider4-slider .bottom-sec a {
  color: #EA4A38;
  cursor: pointer;
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
}
.story-secH .story-slider4-part .story-slider4-slider .bottom-sec a:hover {
  color: #f1311b;
}

.story-secI {
  background: #CCF1FF;
  overflow: hidden;
  padding: 50px 0;
}
.story-secI .heading-img {
  width: 80px;
  margin: auto;
}
@media only screen and (max-width: 540px) {
  .story-secI .heading-img {
    width: 50px;
  }
}
.story-secI .heading-img img {
  animation: wiggle 2s ease-in-out infinite;
  transform-origin: center;
}
@media only screen and (max-width: 540px) {
  .story-secI .heading {
    margin-top: 0;
  }
}
.story-secI .heading h2 {
  color: var(--primary);
}
@media only screen and (max-width: 991px) {
  .story-secI .heading h2 {
    font-size: 30px;
    max-width: 80%;
    margin: auto;
  }
}
@media only screen and (max-width: 540px) {
  .story-secI .heading h2 {
    font-size: 20px;
    max-width: 100%;
    margin: 10px 0;
  }
}
.story-secI p {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  margin: 20px 0;
  color: var(--text);
}
@media only screen and (max-width: 991px) {
  .story-secI p {
    font-size: 12px;
  }
}
@media only screen and (max-width: 540px) {
  .story-secI p {
    margin: 10px 0;
  }
}
.story-secI .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0 0px 0;
}
@media only screen and (max-width: 540px) {
  .story-secI .flex {
    display: block;
    padding: 20px 0 0px 0;
  }
}
.story-secI .flex .flex-item .figure {
  width: 448px;
  height: 316px;
}
@media only screen and (max-width: 991px) {
  .story-secI .flex .flex-item .figure {
    width: auto;
    height: auto;
  }
}
.story-secI .flex .flex-item .figure img {
  border-radius: 10px;
}
.story-secI .flex .flex-item:first-child {
  border-radius: 15px;
  overflow: hidden;
  width: 40%;
}
@media only screen and (max-width: 991px) {
  .story-secI .flex .flex-item:first-child {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 540px) {
  .story-secI .flex .flex-item:first-child {
    width: 100%;
    margin-bottom: 20px;
  }
}
.story-secI .flex .flex-item:last-child {
  width: 60%;
}
@media only screen and (max-width: 1024px) {
  .story-secI .flex .flex-item:last-child {
    width: 55%;
  }
}
@media only screen and (max-width: 540px) {
  .story-secI .flex .flex-item:last-child {
    width: 100%;
    text-align: center;
  }
}
.story-secI .story-slider4-part {
  padding: 50px 0;
  position: relative;
  padding: 40px 0 0 0;
}
@media only screen and (max-width: 1024px) {
  .story-secI .story-slider4-part {
    max-width: 96%;
    margin: auto;
  }
}
@media only screen and (max-width: 540px) {
  .story-secI .story-slider4-part .swiper-nav {
    display: none;
  }
}
.story-secI .story-slider4-part .swiper-nav button {
  width: 45px;
  height: 45px;
  background-color: var(--white);
  border-radius: 50%;
  box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.3490196078);
}
.story-secI .story-slider4-part .swiper-nav button.swiper-prev {
  position: relative;
  top: 124px;
  z-index: 2;
  left: -22px;
}
.story-secI .story-slider4-part .swiper-nav button.swiper-prev:hover svg {
  translate: -5px 0;
}
.story-secI .story-slider4-part .swiper-nav button.swiper-next {
  position: relative;
  z-index: 2;
  right: -94%;
  top: 120px;
}
@media only screen and (max-width: 1024px) {
  .story-secI .story-slider4-part .swiper-nav button.swiper-next {
    right: -92%;
  }
}
.story-secI .story-slider4-part .swiper-nav button.swiper-next:hover svg {
  translate: 5px 0;
}
.story-secI .story-slider4-part .swiper-nav button svg {
  transition: 0.3s ease;
  vertical-align: middle;
}
.story-secI .story-slider4-part .swiper-nav button svg path {
  fill: var(--black);
}
.story-secI .story-slider4-part .story-slider4-slider .swiper-slide .figure {
  height: 200px;
  overflow: hidden;
  border-radius: 5px;
}
.story-secI .story-slider4-part .story-slider4-slider .swiper-slide .figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.story-secJ {
  overflow: hidden;
  padding: 50px 0;
}
@media only screen and (max-width: 540px) {
  .story-secJ {
    padding: 30px 0;
  }
}
.story-secJ .heading-img {
  width: 80px;
  margin: auto;
}
@media only screen and (max-width: 540px) {
  .story-secJ .heading-img {
    width: 50px;
  }
}
.story-secJ .heading-img img {
  animation: wiggle 2s ease-in-out infinite;
  transform-origin: center;
}
@media only screen and (max-width: 540px) {
  .story-secJ .heading {
    margin-top: 0;
  }
}
.story-secJ .heading h2 {
  color: var(--primary);
}
.story-secJ .tab-section .tab-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 20px 0;
}
@media only screen and (max-width: 540px) {
  .story-secJ .tab-section .tab-nav {
    gap: 20px;
    padding: 20px 0;
  }
}
.story-secJ .tab-section .tab-nav li {
  position: relative;
}
@media only screen and (max-width: 540px) {
  .story-secJ .tab-section .tab-nav li {
    font-size: 14px;
  }
}
.story-secJ .tab-section .tab-nav li::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: var(--secondary);
  transition: 0.5s ease;
}
.story-secJ .tab-section .tab-nav .active {
  transition: 0.5s ease;
  color: var(--secondary);
}
.story-secJ .tab-section .tab-nav li.active::before {
  width: 100%;
}
.story-secJ .tab-section .tab-nav-content .tabs {
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.story-secJ .tab-section .tab-nav-content .active {
  opacity: 1;
}
.story-secJ .tab-section .tab-nav-content .flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 50px 0;
  gap: 50px;
}
@media only screen and (max-width: 540px) {
  .story-secJ .tab-section .tab-nav-content .flex-box {
    display: block;
    padding: 10px 0 0 0;
  }
}
@media only screen and (max-width: 540px) {
  .story-secJ .tab-section .tab-nav-content .flex-box .flex-box-item:first-child {
    margin-bottom: 20px;
  }
}
.story-secJ .tab-section .tab-nav-content .flex-box .flex-box-item:first-child .figure {
  width: 446px;
  height: 242px;
  border-radius: 10px;
  border: 1px solid #B5B5B5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
@media only screen and (max-width: 991px) {
  .story-secJ .tab-section .tab-nav-content .flex-box .flex-box-item:first-child .figure {
    width: auto;
    height: auto;
  }
}
.story-secJ .tab-section .tab-nav-content .flex-box .flex-box-item:last-child {
  max-width: 40%;
}
@media only screen and (max-width: 991px) {
  .story-secJ .tab-section .tab-nav-content .flex-box .flex-box-item:last-child {
    max-width: none;
  }
}
.story-secJ .tab-section .tab-nav-content .flex-box .flex-box-item:last-child p {
  color: #666666;
  margin-bottom: 20px;
}
@media only screen and (max-width: 991px) {
  .story-secJ .tab-section .tab-nav-content .flex-box .flex-box-item:last-child p {
    font-size: 12px;
  }
}
@media only screen and (max-width: 540px) {
  .story-secJ .tab-section .tab-nav-content .flex-box .flex-box-item:last-child p {
    margin-bottom: 10px;
    text-align: center;
  }
}

.story-secK {
  overflow: hidden;
  padding: 50px 0;
}
.story-secK .flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}
@media only screen and (max-width: 1024px) {
  .story-secK .flex {
    gap: 50px;
  }
}
@media only screen and (max-width: 991px) {
  .story-secK .flex {
    flex-wrap: nowrap;
    gap: 30px;
  }
}
@media only screen and (max-width: 540px) {
  .story-secK .flex {
    display: block;
    gap: 30px;
  }
}
.story-secK .flex .flex-item {
  width: 48%;
}
@media only screen and (max-width: 991px) {
  .story-secK .flex .flex-item {
    width: 60%;
  }
}
.story-secK .flex .flex-item:first-child {
  width: 533px;
  overflow: hidden;
}
@media only screen and (max-width: 1024px) {
  .story-secK .flex .flex-item:first-child {
    width: 45%;
  }
}
@media only screen and (max-width: 991px) {
  .story-secK .flex .flex-item:first-child {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 540px) {
  .story-secK .flex .flex-item:first-child {
    width: 100%;
  }
}
.story-secK .flex .flex-item:first-child img {
  border-radius: 10px;
}
@media only screen and (max-width: 540px) {
  .story-secK .flex .flex-item:last-child {
    width: 100%;
  }
}
@media only screen and (max-width: 540px) {
  .story-secK .flex .flex-item:last-child .heading {
    margin-top: 0;
  }
}
.story-secK .flex .flex-item:last-child .heading h2 {
  color: var(--primary);
  text-align: left;
}
@media only screen and (max-width: 991px) {
  .story-secK .flex .flex-item:last-child .heading h2 {
    font-size: 28px;
  }
}
@media only screen and (max-width: 540px) {
  .story-secK .flex .flex-item:last-child .heading h2 {
    text-align: center;
    font-size: 24px;
  }
}
.story-secK .flex .flex-item:last-child .heading p {
  font-family: Poppins;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-align: left;
  margin-bottom: 10px;
}
@media only screen and (max-width: 991px) {
  .story-secK .flex .flex-item:last-child .heading p {
    font-size: 16px;
  }
}
@media only screen and (max-width: 540px) {
  .story-secK .flex .flex-item:last-child .heading p {
    text-align: center;
    font-size: 14px;
    margin: 3px 0 10px 0;
  }
}
.story-secK .flex .flex-item:last-child .content p:first-child {
  font-family: Poppins;
  font-weight: 400;
  font-size: 12px;
  margin: 0px 0 20px 0;
  color: var(--text);
}
@media only screen and (max-width: 540px) {
  .story-secK .flex .flex-item:last-child .content p:first-child {
    text-align: center;
    margin: 0px 0 10px 0;
  }
}
.story-secK .flex .flex-item:last-child .content p:last-child {
  color: var(--text);
  font-size: 12px;
  margin: 0px 0 30px 0;
}
@media only screen and (max-width: 540px) {
  .story-secK .flex .flex-item:last-child .content p:last-child {
    text-align: center;
  }
}
@media only screen and (max-width: 540px) {
  .story-secK .flex .flex-item:last-child .secondary-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.story-secK .flex .flex-item:last-child .secondary-btn a {
  border-radius: 25px;
  padding: 8px 21px;
  color: white;
  background: #EA4A38;
  margin: 20px 0 0 0;
}
@media only screen and (max-width: 540px) {
  .story-secK .flex .flex-item:last-child .secondary-btn a {
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    text-align: center;
  }
}

.story-secL {
  overflow: hidden;
  padding: 50px 0;
}
.story-secL .heading-img {
  width: 80px;
  margin: auto;
}
@media only screen and (max-width: 540px) {
  .story-secL .heading-img {
    width: 50px;
  }
}
.story-secL .heading-img img {
  animation: wiggle 2s ease-in-out infinite;
  transform-origin: center;
}
@media only screen and (max-width: 540px) {
  .story-secL .heading {
    margin-top: 0;
  }
}
.story-secL .heading h2 {
  color: var(--primary);
}
@media only screen and (max-width: 991px) {
  .story-secL .heading h2 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 540px) {
  .story-secL .heading h2 {
    font-size: 24px;
    margin-top: 5px;
  }
}
.story-secL .story-slider4-part {
  padding: 0 0 50px 0;
  position: relative;
}
@media only screen and (max-width: 1024px) {
  .story-secL .story-slider4-part {
    max-width: 95%;
    margin: auto;
  }
}
@media only screen and (max-width: 540px) {
  .story-secL .story-slider4-part {
    padding: 40px 0 0 0;
  }
}
@media only screen and (max-width: 540px) {
  .story-secL .story-slider4-part .swiper-nav {
    display: none;
  }
}
.story-secL .story-slider4-part .swiper-nav button {
  width: 45px;
  height: 45px;
  background-color: var(--white);
  border-radius: 50%;
  box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.3490196078);
}
.story-secL .story-slider4-part .swiper-nav button.swiper-prev {
  position: relative;
  top: 154px;
  z-index: 2;
  left: -22px;
}
.story-secL .story-slider4-part .swiper-nav button.swiper-prev:hover svg {
  translate: -5px 0;
}
.story-secL .story-slider4-part .swiper-nav button.swiper-next {
  position: relative;
  z-index: 2;
  right: -94%;
  top: 154px;
}
@media only screen and (max-width: 1024px) {
  .story-secL .story-slider4-part .swiper-nav button.swiper-next {
    right: -92%;
  }
}
@media only screen and (max-width: 991px) {
  .story-secL .story-slider4-part .swiper-nav button.swiper-next {
    right: -90%;
  }
}
.story-secL .story-slider4-part .swiper-nav button.swiper-next:hover svg {
  translate: 5px 0;
}
.story-secL .story-slider4-part .swiper-nav button svg {
  transition: 0.3s ease;
  vertical-align: middle;
}
.story-secL .story-slider4-part .swiper-nav button svg path {
  fill: var(--black);
}
.story-secL .story-slider4-part .story-slider4-slider .swiper-slide .figure {
  height: 262px;
  overflow: hidden;
  border-radius: 5px;
}
.story-secL .story-slider4-part .story-slider4-slider .swiper-slide .figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.pin-line {
  position: relative;
  background-color: var(--white);
  height: 20px;
}
.pin-line::before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  top: 7px;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  border-bottom: 2px dashed var(--secondary);
}
.pin-line::after {
  content: "";
  position: absolute;
  right: 1px;
  top: 0px;
  transform: rotate(1deg);
  width: 215px;
  height: 76px;
  z-index: 1;
  background: url("../../images/home/Pin.svg") no-repeat;
  background-position: 100% 100%;
}
@media only screen and (max-width: 540px) {
  .pin-line::after {
    right: 1px;
    top: -32px;
    width: 110px;
    background-size: contain;
  }
}/*# sourceMappingURL=ourtstory.css.map */